.main {
  background-color: #fff;
  padding: 30px 0;

  .container {
    width: 1200px;
    margin: auto;
  }
  .header {
    display: flex;
    margin-bottom: 33px;
    align-items: center;
    justify-content: space-between;
    color: #0e263e;
  }
  .input {
    position: relative;
    align-items: center;
  }
  .inputCastom {
    box-sizing: border-box;
    width: 636px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 45px;
    border: 1px solid #d4d4d4;
  }
  .inputCastom::placeholder {
    font-size: 14px;
    color: #909190;
  }
  .iconSearch {
    position: absolute;
    top: 8px;
    right: 20px;
    padding: 0;
    width: 24px;
    height: 24px;
    color: #ff781d;
  }
  .iconBell {
    width: 24px;
    height: 24px;
    margin-right: 30px;
  }
  .iconBell:hover {
    color: #ff781d;
  }
  .menu {
    display: flex;
  }
  .userMenu {
    cursor: pointer;
    font-size: 14px;
    line-height: 1.4;
    display: flex;
    align-items: center;
  }
  .userMenu:hover {
    color: #ff781d;
  }
  .iconUser {
    margin-right: 10px;
  }

}
