@import 'styles/variables.scss';

.main {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: $color-categories-btn;
  padding: 30px 0;

  .container {
    position: relative;
    margin: auto;
    max-width: 1200px;
  }

  .header {
    display: flex;
    margin-bottom: 33px;
    align-items: center;
    justify-content: space-between;
    color: $color-main;
  }

  .input {
    position: relative;
    align-items: center;
  }

  .inputCastom {
    box-sizing: border-box;
    width: 636px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 45px;
    outline: none;
    border: 1px solid #d4d4d4;

    &::-webkit-input-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &::-moz-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &:-moz-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &:-ms-input-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &:focus::-webkit-input-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:focus::-moz-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:focus:-moz-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:focus:-ms-input-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:focus {
      padding-left: 64px;
    }
  }

  .inputCastom::placeholder {
    font-size: 14px;
    color: $color-third;
  }

  .iconSearch {
    position: absolute;
    top: 8px;
    right: 20px;
    padding: 0;
    width: 24px;
    height: 24px;
    color: $text-hover;
  }

  .closeIcon {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 20px;
    padding: 0;
    width: 24px;
    height: 24px;
    stroke: $color-main;
  }

  .active {
    position: absolute;
    top: 8px;
    left: 20px;
    padding: 0;
    width: 24px;
    height: 24px;
    color: $text-hover;
  }

  .iconBell {
    width: 24px;
    height: 24px;
    margin-right: 30px;
  }

  .iconBell:hover {
    color: $text-hover;
  }

  .menu {
    display: flex;
    align-items: center;

    .avatarUser {
      position: relative;
      cursor: pointer;

      > div {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        overflow: hidden;
      }

      img {
        object-fit: cover;
      }

      .settingAccount {
        background: $color-categories-btn;
        position: absolute;
        padding: 30px 20px;
        border: 1px solid $color-bg-icon;
        box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
        border-radius: 10px;
        height: auto;
        width: 237px;
        right: 0;
        transform: scale(0);
        z-index: 1;

        li:first-of-type {
          margin-bottom: 20px;
        }

        li {
          font-family: Ubuntu, sans-serif;
          font-size: 14px;
          color: $color-second;
          display: flex;
          align-items: center;
          list-style: none;

          &:hover {
            color: $text-hover;
          }

          > svg {
            margin-right: 15px;
          }
        }

        &Active {
          transform: scale(1) translateY(20px);
        }
      }
    }
  }

  .userMenu {
    cursor: pointer;
    font-size: 14px;
    line-height: 1.4;
    display: flex;
    align-items: center;
  }

  .userMenu:hover {
    color: $text-hover;
  }

  .iconUser {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    stroke: $color-main;
    border: 2px solid $color-main;
    svg {
      min-width: 24px;
      min-height: 24px;
    }
  }
}
.overlay {
  position: fixed;
  z-index: 5;
  top: 109px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(52, 52, 52, 0.6);
  backdrop-filter: blur(10px);
}
.dropDown {
  position: absolute;
  width: 100%;
  z-index: 5;
  background-color: $color-categories-btn;

  &Content {
    max-width: 994px;
    margin-left: auto;

    padding-bottom: 40px;

    &Title {
      font-family: Merriweather;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.25;
      color: $color-main;

      margin-top: 30px;

      margin-bottom: 40px;
    }

    &Popular {
      display: flex;
      padding-bottom: 56px;
      border-bottom: 1px solid $color-star-border;

      &Item {
        max-width: 124px;

        &:not(:last-child) {
          margin-right: 50px;
        }

        &Name {
          font-weight: 500;
          font-size: 14px;
          line-height: 1.143;
          margin-top: 10px;
          color: $color-main;
        }
      }
    }
  }
}
.border {
  border-top: 1px solid $color-star-border;
}
.authorsList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
}
.authorName {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  color: $color-main;
}

@media (max-width: 768px) {
  .main {
    .header {
      flex-direction: column;
    }
    .input {
      margin-top: 20px;
    }
    .menu {
      display: none;
    }
  }
}

@media (max-width: 970px) {
  .main {
    .inputCastom {
      width: 345px;
    }
  }
}

@media (max-width: 1200px) {
  .main {
    padding: 20px 15px;
  }
}
