@import 'styles/variables';

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;

  .helpTitle {
    max-width: 588px;
    > h1 {
      font-family: Merriweather, sans-serif;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
      color: $color-main;
    }

    > p {
      font-family: Ubuntu, sans-serif;
      font-size: 14px;
      line-height: 1.43;
      color: $color-second;
    }
  }

  .form {
    max-width: 588px;

    .inputWidth {
      margin-top: 40px;
      max-width: 298px;
      padding-bottom: 0;

      > input {
        font-size: 16px;
        line-height: 18px;
        color: $color-second;
      }
    }
  }
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  > button:nth-child(2) {
    margin-left: 0;
    margin-right: 30px;
  }
}
.inputLabel {
  font-size: 14px;
  line-height: 1.43;
  margin-top: 40px;
  margin-bottom: 10px;
  color: $color-third;
}
.inputArea {
  min-width: 298px;
  max-width: 588px;
  background: $color-categories-btn;
  border: 1px solid $color-star-border;
  border-radius: 5px;
}
.textArea {
  font-size: 16px;
  line-height: 18px;
  color: $color-second;
  resize: none;
  width: 100%;
  outline: none;
  border: none;
  padding: 20px;
  padding-bottom: 0;

  &Clip {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 76px;
    height: 27px;

    > p {
      font-size: 14px;
      line-height: 1.43;
      margin-left: 5px;
      color: $color-third;
    }
  }
}
.filesBlock {
  padding: 20px;
  padding-top: 0;
}
.imgsCount {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 1.17;
  width: 17px;
  height: 12px;
  text-align: center;
  border-radius: 17px;
  background-color: $text-hover;
  color: $color-categories-btn;
}
.dropImgs {
  display: flex;
}
.dropBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 94px;
  margin-top: 10px;
  background: $color-categories-btn;
  border: 1px solid $color-star-border;
  overflow: hidden;
  box-shadow: 0px 4px 9px rgba(181, 181, 181, 0.15);
  border-radius: 13px;
  &:not(:last-of-type) {
    margin-right: 10px;
  }
  &Img {
    border-radius: 11px;
  }
}
.modal {
  max-width: 243px;
  margin-bottom: 40px;

  &Title {
    font-family: Merriweather;
    font-size: 28px;
    line-height: 1.25;
    margin-bottom: 10px;
    color: $color-main;
  }

  > p {
    font-size: 14px;
    line-height: 1.43;
    color: $color-second;
  }
}
