@import './../../../styles/variables';

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 12px;
  margin-left: auto;
}
.dropBtn {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 15px;
  min-width: 138px;
  //max-width: 138px;
  height: 32px;
  border: none;
  border-radius: 64px;
  stroke: $color-main;
  transition: 0.15s;
  overflow: hidden;
  text-overflow: ellipsis;

  > div {
    display: flex;
  }
  & > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
  }
}
.dropBtn:hover {
  color: $color-main;
  background: #f1f7ff;
  stroke: $color-main;
}

.close {
  color: $color-main;
  background-color: #f1f1f1;
}
.dropContent {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  padding: 30px 20px;
  min-width: 237px;
  max-width: 278px;
  max-height: 435px;
  margin-top: 22px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(77, 77, 77, 0.12);
  border: 1px solid #f1f1f1;
  border-radius: 10px;

  &.dropRight {
    right: 0;
  }
}
.dropContent::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.dropContent::-webkit-scrollbar-thumb {
  margin-top: 5px;
  height: 120px;
  background-color: $color-main;
  border: 1px solid #f1f1f1;
  border-radius: 37px;
}
.dropItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
  color: #4f4f4f;
  cursor: pointer;
  transition: 0.15s;

  &.withIcon {
    .active,
    &:hover {
      color: $text-hover;
    }
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:hover {
    color: $color-main;

    .radio {
      box-shadow: 0 0 0 2px $color-main;
    }
  }
}

.dropWord {
  padding-bottom: 15px;
  flex-wrap: wrap;
  min-width: 203px;

  .dropItem {
    display: inline-flex;
    height: 16px;
    flex: 1;
    letter-spacing: 0.3em;
    margin-bottom: 10px;
  }

  .activeWord {
    color: $color-main;
  }
}

.down {
  stroke-width: 2px;
  transform: rotate(180deg);
  transition: 0.15s;
}
.up {
  stroke-width: 2px;

  transform: rotate(0deg);
}
.dropText {
  margin-left: 10px;
}
.radio {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid#fff;
  background-color: transparent;
  box-shadow: 0 0 0 2px #909190;
  transition: 0.15s;
}
.radioActive {
  background-color: $color-main;
  box-shadow: 0 0 0 2px $color-main;
}
.active {
  color: $color-main;
}

@media (max-width: 768px) {
  .dropBtn {
    width: 100%;
    background: transparent;
    padding: 0;

    &:hover {
      background: transparent;
    }

    & > span {
      white-space: nowrap;
      overflow: initial;
      // text-overflow: ellipsis;
    }
  }
  .dropContent {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .open {
    color: #fff;
    background: $color-main;
    stroke: #fff;
  }
}
