.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 12px;
}
.dropBtn {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 15px;
  width: 138px;
  height: 32px;
  border: none;
  border-radius: 64px;
  stroke: #0e263e;
}
.dropBtn:hover {
  color: #0e263e;
  background: #f1f7ff;
  stroke: #0e263e;
}
.open {
  color: #fff;
  background: #0e263e;
  stroke: #fff;
}
.close {
  color: #0e263e;
  background-color: #f1f1f1;
}
.dropContent {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  padding: 30px 20px;
  min-width: 237px;
  max-width: 278px;
  max-height: 435px;
  margin-top: 22px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
  border: 1px solid #f1f1f1;
  border-radius: 10px;
}
.dropContent::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.dropContent::-webkit-scrollbar-thumb {
  margin-top: 5px;
  height: 120px;
  background-color: #0e263e;
  border: 1px solid #f1f1f1;
  border-radius: 37px;
}
.dropLink {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
  color: #4f4f4f;
  cursor: pointer;
}
.dropLink:not(:last-child) {
  margin-bottom: 15px;
}
.dropLink:hover {
  color: #0e263e;

  .radio {
    box-shadow: 0 0 0 2px #0e263e;
  }
}
.down {
  transform: rotate(180deg);
}
.up {
  transform: rotate(0deg);
}
.dropText {
  margin-left: 10px;
}
.radio {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid#fff;
  background-color: transparent;
  box-shadow: 0 0 0 2px #909190;
}
.radioActive {
  background-color: #0e263e;
  box-shadow: 0 0 0 2px #0e263e;
}
.active {
  color: #0e263e;
}
.dropLinkAuthor {
  list-style: none;
  margin-right: 10px;
  margin-bottom: 10px;
}
.dropLinkAuthor:hover {
  color: #ff781d;
}
.dropContentAuthor {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 30px 20px;
  padding-bottom: -10px;
  min-width: 237px;
  max-width: 278px;
  max-height: 435px;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
  border: 1px solid #f1f1f1;
  border-radius: 10px;
}
