@import '/styles/variables';

.wrapper {
  position: relative;
  display: inline-flex;
  width: 45px;
  height: 24px;
  border: 2px solid #d5d5d5;
  border-radius: 38px;
  background: transparent;
  padding: 1px;
  cursor: pointer;

  &.active {
    border-color: $text-hover;
    background: $text-hover;

    span {
      transform: translateX(21px);
      background: #fff;
    }
  }

  span {
    display: flex;
    width: 18px;
    height: 18px;
    background: #d5d5d5;
    border-radius: 50%;
    transition: .15s;
  }
}