@import 'styles/variables';

.releaseDates {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.125;
  width: 100%;
  color: $color-main;
  padding: 10px 0;
  border-bottom: 1px solid $color-star-border;
}
.releaseDates:hover .dropDownIcon {
  background-color: $text-hover;
  stroke: $color-categories-btn;
}
.btn {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.125;
  color: #0e263e;
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  stroke: $color-main;
}
.dropDownIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  stroke-width: 2px;

  background-color: $color-bg-icon;
  transform: rotate(180deg);
  transition: 0.15s;
}
.dates {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.showMenu {
  display: block;
  max-height: 400px;
  transition: max-height 0.2s ease-out;
}
.date {
  display: flex;
  align-items: center;
  padding: 11px 0;
}
.date:not(:last-child) {
  margin-right: 48px;
  border-bottom: 1px solid $color-star-border;
}
.data:last-child {
  padding-right: 48px;
}
.dot {
  display: block;
  width: 3px;
  height: 3px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: $color-third;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 45%;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $text-hover;
  }
}
.author {
  font-size: 14px;
  line-height: 1.43;
  color: $color-third;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 45%;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $text-hover;
  }
}
.active {
  color: $text-hover;
  stroke: $color-categories-btn;
  background-color: $text-hover;
  transform: rotate(0deg);
}
.activeBtn {
  color: $text-hover;
}
