@import '/styles/variables';

.formProfile {
  width: 384px;

  &Wrap {
    cursor: pointer;
    position: relative;
    margin: 40px 0;
    display: flex;
    justify-content: center;

    .image {
      border-radius: 50%;
      overflow: hidden;
      max-width: 102px;
      max-height: 102px;
      width: 102px;
      height: 102px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    img {
      object-fit: cover;
    }


    .file {
      position: absolute;
      bottom: 0;
      transform: translateX(30px);
      height: 30px;
      width: 30px;
      background-color: $text-hover;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .inputNik {
    width: 180px;
    padding-bottom: 40px;
  }

  .social {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    padding-bottom: 40px;
    border-bottom: 1px solid $color-star-border;

    > span {
      color: $color-third;
    }

    > p {
      margin-top: 10px;
      margin-bottom: 20px;
      color: $color-second;
    }

    .socialProfile {
      margin-top: 0;

      > div {
        justify-content: center;
      }
    }
  }

  .delProfile {
    font-size: 14px;
    color: $color-third;
    text-align: center;
    cursor: pointer;

    span {
      transition: .15s;
    }

    :hover {
      color: $text-hover;
    }
  }
}

.form {
  &Flex {
    display: grid;
    grid-template-columns: 180px 180px;
    grid-column-gap: 24px;
  }
}

.wrapDel {
  >h2 {
    color: $color-main;
    font-family: 'Merriweather', serif;
    font-size: 28px;
    line-height: 35px;
  }
  >p{
    margin-top: 10px;
    font-family: 'Fira Sans', sans-serif;
    color: $color-second;
    font-size: 14px;
  }
  .Button {
    margin-bottom: 0px;
    flex-direction: row-reverse;
    >button {
      margin-left: 0px;
      margin-right: 30px;
      width: 200px;
    }
  }
}

@media screen and (max-width: 480px) {
  .formProfile {
    width: auto;

    .inputNik {
      width: 100%;
      padding-bottom: 30px;
    }

    .social {
      margin-bottom: 30px;
    }

    .delProfile {
      margin-top: 30px;
    }
  }
  .form {
    &Flex {
      grid-template-columns: 1fr;
    }
  }
  .wrapDel {
    margin: 0 -30px;
    .Button {
      >button {
        width: 100%;
      }
    }
  }
}