@import 'styles/variables.scss';

.newsTitle {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: $color-main;
}
.filtersBtns {
  display: flex;
  width: calc(100% - 408px);
  justify-content: space-between;
  margin: 40px 0;
}
.popularSelections {
  margin-right: 101px;
}
.selectFilters {
  height: 32px;
  padding: 8px 15px;
  border-radius: 60px;
  background: $color-bg-icon;
  color: $color-main;

  &:hover {
    background: $color-main;
    color: $color-categories-btn;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}
.mainBlock {
  display: flex;
  margin-top: 40px;
}
.booksGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 24px;
}
.advertisingBlok {
  max-width: 384px;
  margin-left: 24px;
}
.bannerBlock {
  width: 100%;
  margin-bottom: 40px;
}
.banner {
  border-radius: 5px;
}
.pagination {
  margin-top: 40px;
  margin-bottom: 60px;
}
.mountains {
  margin-bottom: 60px;
}
