@import 'styles/variables.scss';

.reviewsTitle {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  margin-top: 60px;
  margin-bottom: 40px;
  color: $color-main;
}
.reviewer {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
.reviewerIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  color: $color-main;
  display: flex;
  align-items: center;

  & .reviewInfo {
    margin: 0 0 0 10px;
  }
}
.reviewInfo {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
  color: $color-third;
}
.reviewView {
  display: flex;
  align-items: center;
}
.reviewViewCount {
  margin-right: 10px;
}
.reviewTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  color: $color-main;
  margin-bottom: 8px;
}
.reviewWrapper {
  margin-left: 45px;
}
.reviewText {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.43;
  color: $color-second;

  &Hide {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
  }
}
.showMoreLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $text-hover;
  stroke: $text-hover;
}
.black {
  font-size: 14px;
  line-height: 1.43;
  color: $color-main;
}
.dropDownArrow {
  margin-left: 10px;
  stroke-width: 2px;

  transform: rotate(180deg);
}
.up {
  transform: rotate(0deg);
}
.color {
  stroke: $color-main;
}
.reviewStatistic {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: $color-third;
  stroke: $color-third;
}
.reviewIcon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  transition: .15s;

  &:hover,
  &.active {
    stroke: $text-hover;
  }
}
.reviewLike {
  margin-right: 30px;
}
.reviewReply {
  font-size: 14px;
  line-height: 140%;
  color: $color-main;
  transition: .15s;
  cursor: pointer;

  &:hover {
    color: $text-hover;
  }

  &Item {
    border-top: 1px solid #D5D5D5;
  }
}
.reviewShowMore {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: $text-hover;
  margin-top: 30px;
  cursor: pointer;
  transition: .15s;

  &:hover {
    color: $accent-hover;
  }

  &.isReply {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $color-third;
    margin-left: 45px;

    &:hover {
      color: $text-hover;
    }
  }
}
.userForm {
  margin-top: 40px;

  &Header {
    display: flex;
    margin-bottom: 20px;
  }
}
.userIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
.userInput {
  font-family: 'Fira Sans', sans-serif;
  width: 484px;
  height: 35px;
  padding: 8px 20px;

  border: 1px solid $color-star-border;
  background-color: transparent;
  border-radius: 59px;
  outline: none;

  &::-webkit-input-placeholder {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: $color-third;
  }

  &::-moz-placeholder {
    font-size: 14px;
    line-height: 1.43;
    color: $color-third;
  }
}
.userInput:hover {
  border-color: $color-third;
}
.userComment {
  display: flex;
  align-items: center;
}
.controllBtn {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  display: flex;
  align-items: center;
  margin-left: 41px;
}
.controllBtnsLeaveReview {
  margin: 0;
  margin-top: 40px;
}
.submitButton {
  width: 200px;
  height: 40px;
  margin-right: 30px;
  border-radius: 5px;
  color: $color-categories-btn;
  background-color: $text-hover;
}
.cancelBtn {
  cursor: pointer;
  color: $color-second;
}
.reviewColor {
  margin-top: 20px;
  padding-top: 20px;
  font-size: 14px;
  line-height: 140%;

  &Positive {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: $positive-review;
  }
  &Negative {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: $negative-review;
  }
  &Neutral {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: $color-bg-icon;
  }
}

@media (max-width: 768px) {
  .reviewer {
    margin-bottom: 12px;
  }
  .reviewerIcon {
    width: 34px;
    height: 34px;
  }
  .reviewInfo {
    margin-bottom: 12px;
  }
  .reviewText {
    &Hide {
      -webkit-line-clamp: 8;
    }
  }
  .userIcon {
    width: 34px;
    height: 34px;
    margin-right: 9px;
  }
  .userInput {
    width: calc(100% - 43px);

    &::-webkit-input-placeholder {
      font-size: 16px;
      line-height: 18px;
      color: $color-third;
    }

    &::-moz-placeholder {
      font-size: 16px;
      line-height: 18px;
      color: $color-third;
    }
  }
  .reviewColor {
    &Positive {
      margin-bottom: 30px;
      padding: 15px;
      padding-top: 23px;
    }
    &Negative {
      margin-bottom: 30px;
      padding: 15px;
      padding-top: 23px;
    }
    &Neutral {
      margin-bottom: 30px;
      padding: 15px;
      padding-top: 23px;
    }
  }
}
