@import 'styles/variables.scss';
.wrapper {
  display: flex;
}
.main {
  width: calc(100% - 204px);
}
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}
.descFilters {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 90px;
}
.filter {
  &Title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $color-main;
    margin-bottom: 14px;
  }
  &Line {
    background: #d5d5d5;
    margin: 30px 0;
    height: 1px;
    display: block;
  }
}
.main {
  &ListItem {
    margin-bottom: 60px;
  }
  &Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-column-gap: 24px;

    &Item {
      margin-bottom: 40px;
    }
  }
}
.titleFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.title {
  transition: 0.15s;

  &:hover {
    color: $text-hover;
  }
}
.showMore {
  display: none !important;
}
.btn {
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  padding: 3px 15px;
  border-radius: 5px;
  background: $text-hover;
  transition: 0.15s;

  &:hover {
    background: $accent-hover;
  }

  &.added {
    color: $color-main;
    background: #f1f1f1;

    &:hover {
      color: $color-main;
      background: #f1f1f1;
    }
  }
}
.advertisingBlock {
  display: block;
  margin-left: 24px;
  margin-top: 181px;
  min-width: 180px;
  min-height: 1104px;

  &.mt {
    margin-top: 112px;
  }
}
.bannerBlock {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}
.banner {
  width: 180px;
  height: 1104px;
}

@media screen and (max-width: 992px) {
  .advertisingBlock {
    display: none;
  }

  .main {
    width: 100%;
    &Grid {
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }
  }
}

@media screen and (max-width: 768px) {
  .titleFlex {
    margin-bottom: 30px;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .btn {
    display: none;
  }
  .showMore {
    display: flex !important;
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    &Grid {
      grid-template-columns: 1fr;
    }
  }
}
