@import 'styles/variables.scss';

.title {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: $color-main;
}
.filters {
  display: flex;
  width: calc(100% - 204px);
  justify-content: space-between;
  margin: 40px 0;

  &Btns {
    display: flex;
  }
}
.popularSelections {
  margin-right: 101px;
}
.selectFilters {
  height: 32px;
  padding: 8px 15px;
  border-radius: 60px;
  background: $color-bg-icon;
  color: $color-main;

  &:hover {
    background: $color-main;
    color: $color-categories-btn;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}
.selectTitle {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: $color-main;
}
.mainBlock {
  display: flex;
}
.selectionsSwiper {
  display: block;
  max-width: 85%;
}
.selSlider {
  display: block;

  &Head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &Btn {
      font-size: 14px;
      line-height: 1.43;
      min-width: 162px;
      height: 26px;
      border-radius: 5px;
      color: $color-categories-btn;
      background-color: $text-hover;
    }

    &Title {
      font-family: Merriweather;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.25;
      color: $color-main;
    }
  }
}
.added {
  color: $color-main;
  background: $color-bg-icon;
}
.selSlider:not(:first-child) {
  margin-top: 60px;
}
.advertisingBlok {
  display: block;
  margin-left: 24px;
  max-width: 180px;
  min-height: 1104px;
}
.bannerBlock {
  max-width: 180px;
  display: block;
  width: 100%;
  margin-bottom: 40px;
}
.banner {
  width: 100%;
  height: 1104px;
}
.pagination {
  margin-top: 40px;
  margin-bottom: 60px;
}
