@import 'styles/variables.scss';

.title {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: $color-main;
}
.filters {
  display: flex;
  width: calc(100% - 180px);
  max-width: 996px;
  justify-content: space-between;
  margin: 40px 0;

  &Btns {
    display: flex;
  }

  &BtnsActive {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.popularSelections {
  margin-right: 101px;
}
.selectFilters {
  height: 32px;
  padding: 8px 15px;
  border-radius: 60px;
  background: $color-bg-icon;
  color: $color-main;

  &:hover {
    background: $color-main;
    color: $color-categories-btn;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &Active {
    background: $color-main;
    color: $color-categories-btn;
  }
}
.selectTitle {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: $color-main;
}
.mainBlock {
  display: flex;
}
.advertisingBlok {
  display: block;
  margin-left: 24px;
  min-width: 180px;
  min-height: 1104px;
}
.bannerBlock {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}
.banner {
  width: 180px;
  height: 1104px;
}
.pagination {
  margin-top: 40px;
  margin-bottom: 60px;
}
