@import 'styles/variables.scss';
.wrapper {
  display: flex;
}
.main {
  flex: 1;
}
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}
.descFilters {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 90px;
}
.advertisingBlok {
  display: block;
  margin-left: 24px;
  margin-top: 172px;
  min-width: 180px;
  min-height: 1104px;
}
.bannerBlock {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}
.banner {
  width: 180px;
  height: 1104px;
}
