@import 'styles/variables';

.container {
  width: 180px;
  margin-right: 24px;
}
.filterStatus {
  padding: 20px 0;
  border-bottom: 1px solid $color-star-border;
}
.btn {
  font-weight: 500;
  font-family: 'Fira Sans, sans-serif';
  font-size: 16px;
  line-height: 1.125;
  color: $color-main;
  stroke: $color-third;
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;

  &:hover {
    stroke: $color-second;
  }
}

.dropDownIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  stroke-width: 2px;

  border-radius: 50%;
  background-color: $color-bg-icon;
  transform: rotate(180deg);
  transition: 0.15s;
}
.up {
  transform: rotate(0deg);
}
.dates {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.showMenu {
  overflow: initial;
  max-height: 400px;
  transition: max-height 0.2s ease-out;
}
.dropLink {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
  color: $color-second;
  padding: 2px 0 2px 2px;
  margin-top: 20px;
}
.dropLink:hover {
  cursor: pointer;
  color: $color-main;
}
.radio {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: transparent;
  box-shadow: 0 0 0 2px $color-third;
}
.radio:hover {
  box-shadow: 0 0 0 2px $color-main;
}
.radioActive {
  background-color: $color-main;
  border: 3px solid $color-categories-btn;
  box-shadow: 0 0 0 2px $color-main;
}
.dropText {
  margin-left: 10px;
}
.active {
  color: $color-main;
}
.filters {
  list-style: none;
  padding: 0;
  margin: 0;
}
.input {
  font-family: Fira Sans, sans-serif;
  width: 180px;
  height: 32px;
  padding: 6px 15px;
  margin-top: 23px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid $color-star-border;
  outline: none;
  color: $color-second;
  background-color: transparent;

  &::-webkit-input-placeholder {
    font-family: Fira Sans, sans-serif;
    color: $color-third;
  }

  &::-moz-placeholder {
    color: $color-third;
  }
}
.input:hover {
  border-color: $color-third;
}
.dropContentAuthor {
  font-size: 12px;
  line-height: 1.167;
  color: $color-third;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.alphabetTitle {
  font-size: 14px;
}
.dropLinkAuthor {
  list-style: none;
  margin-right: 1px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.15s;
  width: 11px;
  text-align: center;

  &:hover {
    color: $text-hover;
  }

  &.active {
    color: $text-hover;
  }
}
.inputFilters {
  margin-bottom: 60px;
}
