.container {
  margin-bottom: 60px;
}

.dropDown {
  padding-top: 23px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d4d4d4;
}
.dropDownBtn {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  stroke: #0e263e;
}
.dropDownBtn:hover {
  cursor: pointer;
}
.dropDownBtn:hover .dropDownIcon {
  cursor: pointer;
  stroke: #fff;
  background-color: #ff781d;
}
.dropDownTitle {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #0e263e;
}
.dropDownText {
  font-size: 14px;
  line-height: 1.43;
  color: #4f4f4f;
  padding: 0;
  margin: 0;
  margin-top: 23px;
  margin-left: 24px;
}
.dropDownIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f1f1f1;
  transform: rotate(180deg);
}
.active {
  border-bottom: 1px solid #ff781d;
}
.activeBtn {
  stroke: #fff;
  background-color: #ff781d;

  transform: rotate(180deg);
}
