@import "styles/variables";

@mixin changeStyle($color, $bg-track) {
  .labelInput {
    color: $color;
  }

  .sliderContainer {
    .bar {
      background-color: $bg-track;
    }

    .dot {
      background: $bg-track;
    }

    .underTextInput {
      color: $color;
    }
  }
}

.middle {
  width: 100%;
  //max-width: 500px;

  &Default {
    @include changeStyle($color-main, $color-star-border)
  }

  &Fifth {
    @include changeStyle($color-second, $color-star-border)
  }

  &Fourth {
    @include changeStyle(#7F604C, $color-star-border)
  }

  &Third {
    @include changeStyle($color-star-border, $color-star-border)
  }

  &Second {
    @include changeStyle($color-third, $color-third)
  }

  &First {
    @include changeStyle(#676767, #676767)
  }

  .labelInput {
    display: block;
    margin-bottom: 10px;
    font-family: Fira Sans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }
}
.sliderContainer{
  position: relative;

  .dot {
    position: absolute;
    min-width: 22px;
    min-height: 22px;
    border-radius: 50%;


    &Active {
      background: $text-hover !important;
    }
  }

  .bar {
    position: absolute;
    z-index: 1;
    left: 2px;
    top: 8px;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    overflow: hidden;

    .fill {
      display: block;
      width: 0;
      height: 100%;
    }
  }

  .slider{
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    background: transparent;
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 22px;
      height: 22px;
      background: #FF781D;
      border-radius: 50%;
      cursor: pointer;
      outline: none;
      border: none;
      transition: .15s;
    }

    &::-moz-range-thumb {
      width: 22px;
      height: 22px;
      background: #FF781D;
      border-radius: 50%;
      cursor: pointer;
      outline: none;
      border: none;
      transform: translateY(2px);
      transition: .15s;
    }

    &:active {
      &::-webkit-slider-thumb {
        background: #D55600;
      }
      &::-moz-range-thumb {
        background: #D55600;
      }
    }
  }
  .underTextInput {
    font-family: Fira Sans, sans-serif;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
}