@import "/styles/variables";

.input {
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  height: 10px;
  background: transparent;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    outline: none;
    width: 22px;
    height: 22px;
    background: $text-hover;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transform: translateY(2px);
    transition: .15s;
  }

  &::-moz-range-thumb {
    width: 22px;
    height: 22px;
    background: $text-hover;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    transform: translateY(2px);
    transition: .15s;
  }

  &:active {
    &::-webkit-slider-thumb {
      background: $accent-hover;
    }
    &::-moz-range-thumb {
      background: $accent-hover;
    }
  }

  &Wrapper {
    position: relative;
    width: 100%;
  }
  &Bar {
    height: 5px;
    border-radius: 5px;
    position: absolute;
    top: 8px;
    left: 2px;
    right: 0;
    z-index: 1;
  }
  &Fill {
    display: block;
    height: 100%;
    border-radius: 5px;
    background: $text-hover;
  }
  &Dot {
    display: flex;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: red;

    &.active {
      background: $text-hover !important;
    }
  }
}

.dotsWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  margin-left: 2px;
}