@import 'styles/variables';

.wrapper {
  max-width: 793px;
  padding-top: 30px;
  padding-bottom: 60px;
}
.goBack {
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  color: $color-main;
  stroke: $color-main;
  &Arrow {
    transform: rotate(180deg);
    margin-right: 3px;
  }
}
.input {
  position: relative;
  align-items: center;
  max-width: 636px;
  margin-bottom: 30px;

  &Castom {
    box-sizing: border-box;
    width: 636px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 45px;
    outline: none;
    border: 1px solid #d4d4d4;

    &::-webkit-input-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &::-moz-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &:-moz-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &:-ms-input-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &:focus::-webkit-input-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:focus::-moz-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:focus:-moz-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:focus:-ms-input-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:focus {
      padding-left: 64px;
    }

    &::placeholder {
      font-size: 14px;
      color: $color-third;
    }
  }
}

.iconSearch {
  position: absolute;
  top: 8px;
  right: 20px;
  padding: 0;
  width: 24px;
  height: 24px;
  color: $text-hover;
}
.selectFilters {
  height: 32px;
  padding: 8px 15px;
  border-radius: 60px;
  background: $color-bg-icon;
  color: $color-main;

  &:hover {
    background: $color-main;
    color: $color-categories-btn;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &Active {
    background: $color-main;
    color: $color-categories-btn;
  }
}
.title {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 40px 0;
  color: $color-main;
}
.myBooks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 24px;
}
.selectionList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 24px;

  &Book {
    list-style: none;
    max-width: 129px;
    min-width: 129px;

    &Author {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.125;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 10px 0;
      color: $color-second;
    }

    &Count {
      font-size: 14px;
      line-height: 1.43;
      color: $color-third;
    }
  }
}
.defolt {
  max-height: 292px;
}
.modalContent {
  width: 318px;
  &Title {
    font-family: Merriweather;
    font-size: 28px;
    line-height: 35px;
    color: $color-main;
  }
  &Btn {
    width: 298px;
    margin-top: 40px;
  }
}
