@import 'styles/variables';

.container {
  padding: 63px 0;
}
.quote {
  // padding-top: ;
  padding-bottom: 40px;
}
.quotesTitle {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 40px;
  color: $color-main;
}
.user {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  // margin-top: 40px;
}
.userIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
.userName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  margin-right: 10px;
  color: $color-main;
}
.quoteInfo {
  font-size: 12px;
  line-height: 1.167;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  color: $color-third;
}
.quoteView {
  display: flex;
  align-items: center;
}
.quoteViewCount {
  margin-right: 10px;
}
.commentText {
  font-size: 14px;
  line-height: 20px;
}
.quoteStatistic {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: $color-third;
}
.quoteIcon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.quoteLike {
  margin-right: 30px;
}
.pagination {
  font-size: 16px;
  line-height: 18px;
  // margin-top: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    padding: 60px 0;
  }
  .quotesTitle {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .userIcon {
    width: 34px;
    height: 34px;
  }
  .user {
    margin-bottom: 12px;
  }
  .quoteInfo {
    margin-bottom: 12px;
  }
  .quote {
    padding-bottom: 30px;
  }
}
