@import "styles/variables";

.checkboxInput {
  display: none;
}

.checkboxInput {
  + span {
    color: red;
    display: flex;
    width: 16px;
    height: 16px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    border: 1px solid $color-third;
    transition: all 150ms;
    cursor: pointer;
  }
  &:checked {

    + span {
      background-color: $text-hover;
      border-width: 50 / 2;
      border-color: $text-hover;
      &::before {
        content: '';
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6667 1.5L4.25004 7.91667L1.33337 5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &:disabled {
    + span {
      background: forestgreen;
    }
  }
}