@import 'styles/variables';

.container {
  // overflow: hidden;
}
.dropblock {
  width: 1600;
  min-height: 581px;

  &Image {
    position: relative;
    width: 1600;
    min-height: 581px;
    background: $color-second;
    background-repeat: no-repeat;
    background-size: cover;
    &Active {
      &:before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        );
      }
    }
  }
}
.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgSvg {
  margin-bottom: 60px;
}
.closeSvg {
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 60px;
  stroke: $color-categories-btn;
}
.changeInput {
  font-family: Merriweather;
  font-size: 28px;
  line-height: 35px;
  color: $color-categories-btn;
  text-align: center;
  display: flex;
  background-color: transparent;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;

  &::-webkit-input-placeholder {
    font-family: Merriweather;
    font-size: 28px;
    line-height: 35px;
    color: $color-categories-btn;
  }
  &::-moz-placeholder {
    font-family: Merriweather;
    font-size: 28px;
    line-height: 35px;
    color: $color-categories-btn;
  }
}
.changeInputLabel {
  font-size: 14px;
  line-height: 1.43;
  margin-top: 30px;
  color: $color-third;
}

.textArea {
  max-width: 792px;
  margin: auto;
  &Label {
    font-size: 14px;
    line-height: 1.43;
    color: $color-third;
    margin-top: 54px;
    margin-bottom: 10px;
  }
  &Input {
    margin-bottom: 40px;
    width: 792px;
    height: 188px;

    border: 1px solid $color-star-border;
    border-radius: 5px;
    background-color: transparent;
    resize: none;
  }
  &BtnLabel {
    font-size: 14px;
    line-height: 1.43;
    margin-top: 10px;
    margin-bottom: 60px;
    color: $color-third;
  }
}
