@import 'styles/variables.scss';

.wrapper {
  display: flex;
}
.amount {
  font-size: 16px;
  line-height: 18px;
  color: $color-third;
  margin: 20px 0 40px;
}
.main {
  flex: 1;
  padding-bottom: 60px;
}
.advertisingBlok {
  display: block;
   margin-left: 24px;
  max-width: 384px;
  min-height: 1104px;
}
.banner {
  height: 1104px;
}
.banner:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .advertisingBlok {
    display: none;
  }
}