.clearAll {
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  width: 138px;
  height: 32px;
  border: none;
  border-radius: 47px;
  background: #f1f1f1;
  transition: 0.15s;
  color: #0e263e;
}
.clearAll:hover {
  background: #f1f7ff;
}
.clearAll:active {
  color: #fff;
  background: #0e263e;
}
.clearIcon {
  width: 14px;
}
