.clearAll {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 138px;
  height: 32px;
  border: none;
  border-radius: 64px;
}
.clearAll:hover {
  color: #0e263e;
  background: #f1f7ff;
}
.clearAll:active {
  color: #fff;
  background: #0e263e;
}
.clearIcon {
  width: 14px;
}
