@import '/styles/variables';

.settingPassword {
  width: 384px;
}


.inputCurrent {
  margin-top: 40px;
  padding-bottom: 40px;
}

.inputNew {
  padding-bottom: 40px;
}

.inputLast {
  padding-bottom: 0px;
}