@import '/styles/variables';

.settingPassword {
  width: 384px;
}

.inputCurrent {
}
.input {
  position: relative;
  margin: 40px 0 15px;
  &Icon {
    position: absolute;
    bottom: 30px;
    right: 20px;
  }
}

.inputNew {
  padding-bottom: 40px;
}

.inputLast {
  padding-bottom: 0px;
}
.buttonDistance {
  margin-bottom: 0px;
}
