@import 'styles/variables.scss';

.wrapper {
  display: flex;
}
.title {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $color-main;
}
.amount {
  font-size: 16px;
  line-height: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: $color-third;
}
.booksColumn {
  display: flex;
  flex-direction: column;
  max-width: 790px;

  h3 {
    -webkit-line-clamp: 1;
  }
}
.advertisingBlok {
  display: block;
  margin-left: 24px;
  max-width: 384px;
  min-height: 1104px;
}
.banner {
  height: 1104px;
}
.banner:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .advertisingBlok {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}
