@import 'styles/variables';

.container {
  font-size: 12px;
  line-height: 14px;
  margin: 30px 0;
  color: $color-third;
}
.crumps {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  transition: 0.15s;

  &:hover {
    color: $text-hover;
  }
}
.dot {
  display: block;
  width: 3px;
  height: 3px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: $color-third;
}

@media (max-width: 768px) {
  .container {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
  }
}
