@import "styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  > label {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    color: $color-third;
  }

  > input {
    padding: 11px 20px;
    border: 1px solid $color-star-border;
    border-radius: 5px;
    outline: none;

    &:hover {
      border-color: $color-third;
    }

    &:focus {
      border: 1px solid $text-hover;
    }
  }

  &Error {
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
    color: $text-err;
  }

  &Err {
    > input {
      border-color: $text-err !important;
    }
  }
}