.wrapper {
  display: block;
}

.container {
  display: flex;
  margin-bottom: 30px;
}

.options {
  margin-right: auto;
  display: flex;
}

.options button {
  max-width: 19vw;
}

.bookList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 40px;
  justify-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.book {
  /* flex: 1 1 auto; */
}

@media (max-width: 1201px) {
  .bookList {
    grid-template-columns: repeat(5, 1fr);
  }

  .container {
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  .bookList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .options {
    display: flex;
  }
}
