@import 'styles/variables.scss';

.selGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 40px;

  &Block {
    max-width: 231px;

    &Title {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      color: $color-main;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      margin-top: 10px;
    }
  }

  &Cover {
    position: relative;

    &Amount {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 12px;
      line-height: 1.167;
      width: 62px;
      height: 24px;
      padding: 5px 10px;
      border-radius: 58px;
      background-color: $color-categories-btn;
      color: $color-main;
    }
  }
}
