@import "styles/variables";

.login {
  width: 298px;

  > h1 {
    color: $color-main;
    font-family: Merriweather, sans-serif;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 40px;
  }

  &Button {
    margin: 20px 0 10px 0;
  }

  &Buttons {
    font-size: 14px;
    display: flex;
    justify-content: space-between;

    > button {
      color: $color-second;
      font-family: Fira Sans, sans-serif;
      padding: 0;
      background: transparent;
    }
  }

  &Min {
    margin-bottom: 10px!important;
  }

  .message {
    color: $color-second;
    font-family: Fira Sans, sans-serif;
    font-size: 14px;
    margin-bottom: 40px;
  }
}

.error {
  font-size: 12px;
  line-height: 14px;
  color: #E92A20;
}