@import 'styles/variables.scss';

.reviewComment {
  font-size: 14px;
  line-height: 1.43;
  padding-top: 20px;
  border-top: 1px solid $color-star-border;

  // &:last-of-type {
  //   border: none;
  // }
}
.reviewer {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  &UnderCom {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
  }
}
.reviewerIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
.commentator {
  display: flex;
  align-items: baseline;
}
.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  margin-right: 10px;
  color: $color-main;
}
.commentDate {
  font-size: 12px;
  line-height: 1.167;
  color: $color-third;
}
.commentContainer {
  padding-left: 45px;
}
// .commentText
.reviewStatistic {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: $color-third;
  stroke: $color-third;
}
.reviewIcon {
  display: flex;
  align-items: center;
  margin-right: 10px;

  &:hover {
    cursor: pointer;
    stroke: $text-hover;
  }
}
.reviewLike {
  margin-right: 30px;
}
.reply {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  cursor: pointer;
  color: $color-main;
}
.replyDirection {
  display: flex;
  margin-top: 20px;
}

.replyArea {
  width: 431px;
  height: 100px;
  margin-bottom: 40px;
  border: 1px solid $color-star-border;
  border-radius: 5px;
  background-color: transparent;
  resize: none;
}
.showReplysLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 45px;
  color: $color-third;
  stroke: $color-third;
}

.showReplysBtn {
  margin-left: 10px;
  transform: rotate(90deg);
}
.down {
  transform: rotate(-90deg);
}
.reviewBlock {
  font-size: 14px;
  line-height: 1.43;
  padding: 20px 0;
  // border-bottom: 1px solid $color-star-border;
}
.sizes {
  width: 484px;
  margin: auto;
  border-top: 1px solid $color-star-border;
}
// .sizes:last-of-type {
//   border: none;
// }
.controllBtn {
  font-size: 14px;
  line-height: 1.43;
  display: flex;
  align-items: center;
  margin-left: 41px;
}
.submitButton {
  width: 200px;
  height: 40px;
  margin-right: 30px;
  border-radius: 5px;
  color: $color-categories-btn;
  background-color: $text-hover;
}
.cancelBtn {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  cursor: pointer;
  color: $color-second;
}
.replierIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 16px;
  overflow: hidden;
  background: red !important;
}

@media (max-width: 768px) {
  .reviewerIcon {
    width: 34px;
    height: 34px;
  }
  .reviewer {
    &UnderCom {
      width: 30px;
      height: 30px;
    }
  }
  .sizes {
    width: 100%;
    margin: 0;
    padding-left: 44px;
  }
  .replyArea {
    width: calc(100% - 35px);
  }
  .replierIcon {
    margin-right: 10px;
  }
}
