@import 'styles/variables.scss';

.container {
  margin-bottom: 60px;
}
.blockTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;

  .title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.25;
    color: $color-main;
  }
}
.dicardDistance {
  margin-bottom: 0;
}
.slide {
  max-width: 129px;
  min-width: 129px;
  > div:first-child {
    max-width: 129px;
    min-width: 129px;
    max-height: 195px;
  }
}
.btn {
  top: 73px;
}
@media (max-width: 768px) {
  .blockTitle {
    margin-bottom: 30px;

    .title {
      font-size: 20px;
      line-height: 25px;
      width: 173px;
    }
  }
  .slide {
    max-width: 108px;
    min-width: 108px;
    > div:first-child {
      max-width: 108px;
      min-width: 108px;
      max-height: 160px;
    }
  }
}
