@import 'styles/variables';

.title {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 42px;
  color: $color-main;
}
.bookProgress {
  width: 100%;
  &Count {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    color: $color-third;
  }
}
.bookCover {
  width: 129px;
  height: 195px;
  border-radius: 5px;
  object-fit: cover;
}
.audioBookCover {
  position: relative;
  width: 100%;
  height: 195px;
  border-radius: 5px;
  object-fit: cover;
}
.bookIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $color-main;
  stroke: $color-categories-btn;
}

.slider {
  max-width: 129px;
}

.sliderAudio {
  max-width: 195px;
  width: 195px !important;
}
.myMenu {
  padding: 20px 0;
  margin-top: 60px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
.tabList {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.tab {
  cursor: pointer;
  color: $color-third;

  &:hover {
    color: $color-main;
  }

  > h2 {
    font-family: Merriweather;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
  }

  > p {
    font-size: 14px;
    line-height: 1.43;
  }
}
.activeTab {
  color: $color-main;
}
.section {
  min-height: 967px;
  padding: 60px 0;
}
.header {
  display: flex;
  justify-content: space-between;
}
.options {
  display: flex;
  align-items: center;
  &Label {
    font-size: 16px;
    line-height: 1.125;
    margin-right: 20px;
    color: $color-main;
  }
}

.dropdown {
  &Btn {
    position: relative;
    font-size: 14px;
    line-height: 1.43;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 15px;

    width: 157px;
    height: 32px;
    border-radius: 47px;

    color: $color-main;
    background-color: $color-bg-icon;
    stroke: $color-main;
  }

  &List {
    position: absolute;
    z-index: 1;
    width: 237px;
    padding: 30px 20px;
    margin-top: 20px;
    background-color: $color-categories-btn;
    border: 1px solid $color-bg-icon;
    box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
    border-radius: 10px;

    &Item {
      display: flex;
      align-content: center;
      stroke: $text-hover;

      & span {
        margin-left: 10px;
      }

      &:hover {
        cursor: pointer;
        color: $text-hover;
      }
    }

    &Item:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

.down {
  margin-left: 10px;
    stroke-width: 2px;

  transform: rotate(180deg);
}
.up {
  margin-left: 10px;
  transform: rotate(0deg);
}
.filter {
  display: flex;
  align-items: center;
}
.input {
  position: relative;
  &Svg {
    width: 24px;
    height: 24px;
  }

  &SvgIcon {
    position: absolute;
    top: 3px;
    left: 17px;
    width: 24px;
    height: 24px;
  }

  &Search {
    width: 196px;
    height: 32px;
    padding: 6px 0;
    padding-left: 49px;
    background: $color-bg-icon;
    border: none;
    outline: none;
    border-radius: 36px;
  }
}

.dropdownPopular {
  position: relative;
  margin-left: 30px;

  &Btn {
    font-size: 14px;
    line-height: 1.43;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 15px;

    height: 32px;
    border-radius: 47px;

    color: $color-main;
    background-color: $color-bg-icon;
    stroke: $color-main;
  }

  &List {
    position: absolute;
    z-index: 1;
    width: 237px;
    padding: 30px 20px;
    margin-top: 20px;
    right: 0;
    background-color: $color-categories-btn;
    border: 1px solid $color-bg-icon;
    box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
    border-radius: 10px;

    &Item {
      font-size: 14px;
      line-height: 1.43;

      display: flex;
      align-content: center;

      color: $color-second;
      stroke: $text-hover;

      & span {
        margin-left: 10px;
      }

      &:hover {
        cursor: pointer;
        color: $color-main;
      }
    }

    &Item:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}
.dropdownSelection {
  margin-left: 0;

  &List {
    left: 0;
  }
}

.active {
  background-color: $color-main;
  color: $color-categories-btn;
  stroke: $color-categories-btn;
}
.radio {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid $color-categories-btn;
  background-color: transparent;
  box-shadow: 0 0 0 2px $color-third;
}
.radio:hover {
  box-shadow: 0 0 0 2px $color-main;
}
.radioActive {
  background-color: $color-main;
  box-shadow: 0 0 0 2px $color-main;
}
.bookList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px 24px;
  margin-top: 40px;
  margin-bottom: 60px;

  &Item {
    position: relative;

    &Delete {
      position: absolute;
      top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 10px;
      width: 22px;
      height: 22px;
      padding: 6px;

      border-radius: 50%;
      background-color: #fff;
      opacity: 0;
    }
  }
}
.bookListItem:hover {
  .bookListItemDelete {
    opacity: 1;
  }
}
.selectionsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 24px;
  margin-top: 40px;
  margin-bottom: 60px;
}
.selection {
  margin-top: 40px;
  &Block {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 384px;
  }

  &Img {
    position: relative;

    &Count {
      font-family: Ubuntu, sans-serif;
      position: absolute;
      background: #fff;
      bottom: 10px;
      right: 10px;
      border-radius: 58px;
      color: $color-main;
      padding: 6px 10px;
      font-size: 14px;
    }

    &img {
      border-radius: 5px;
    }
  }

  &Title {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    margin-top: 10px;
    color: $color-second;

    > h3 {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 10px;
      color: $color-main;
      line-height: 18px;
    }
  }
}

// MODAL
.modal {
  max-width: 318px;

  &Title {
    font-family: Merriweather;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 10px;
    color: $color-main;
  }

  &Text {
    font-size: 14px;
    line-height: 20px;
    color: $color-second;
  }

  &Btns {
    margin-bottom: 0;
    margin-top: 40px;
    flex-direction: row-reverse;

    > button:nth-child(2) {
      margin-left: 0;
      margin-right: 30px;
    }
  }

  &Btn {
    width: 298px;
    margin-top: 40px;
  }
}
