@import '/styles/variables';

.empty{
  padding-bottom: 40px;
}

.searchEmpty {
  margin-top: 40px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  & > div {
    display: flex;
    align-items: center;
  }

  &Text {
    font-size: 16px;
    line-height: 18px;
    color: $color-main;
    margin-right: 20px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 24px;
  margin-bottom: 20px;

  &Item {
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.reviewGrid {
  grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
}

.compilationsGrid {
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.modal {
  max-width: 318px;

  &Title {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 10px;
    color: $color-main;
  }

  &Text {
    font-size: 14px;
    line-height: 20px;
    color: $color-second;
  }

  &Btns {
    margin-bottom: 0 !important;
    margin-top: 40px !important;
    flex-direction: row-reverse;

    > button:nth-child(2) {
      margin-left: 0;
      margin-right: 30px;
    }
  }

  &Btn {
    width: 298px;
    margin-top: 40px;
  }
}

.mlAuto {
  margin-left: auto;
}

.quotesGrid {
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
}

.quoteBlock {
  width: 100%;
  max-width: 588px;
  padding: 30px 13px 30px 20px;
  background: $color-categories-btn;
  border: 1px solid $color-bg-icon;
  border-radius: 5px;

  &Header {
    display: flex;

    &Info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
  }

  &Img {
    border-radius: 3px;
  }

  &Title {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $color-main;
    transition: .15s;

    &:hover {
      color: $text-hover;
    }
  }

  &Text {
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0;
    color: $color-second;
  }

  &Stars {
    display: flex;

    &Raiting {
      font-size: 14px;
      line-height: 1.43;
      margin-left: 26px;
      color: $color-third;
    }
  }

  &Author {
    font-size: 14px;
    line-height: 1.43;
    margin: 3px 0;
    color: $color-second;
  }
}

.reviewIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.reviewLike {
  margin-right: 26px;
}
.dotsIcon {
  cursor: pointer;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 4.16667px;
  border: 1px solid $color-star-border;
  transition: .15s;

  &.active,
  &:hover {
    border-color: $text-hover;
  }
}

.reviewBottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  font-size: 14px;
  line-height: 1.43;
  color: $color-third;

  &Statistic {
    display: flex;
    max-height: 20px;
    stroke: $color-third;
  }
}
.controls  {
  &Item {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-column-gap: 15px;
    align-items: center;
    font-size: 14px;
    line-height: 140%;
    color: $color-second;
    stroke: $text-hover;
    fill: $text-hover;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .15s;

    &:hover {
      color: $text-hover;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.compilation {
  &Container {
    margin-bottom: 60px;
  }
  &Wrapper {
    height: 581px;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }

  &Img {
    object-fit: cover;
  }

  &Title {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 80%;
  }

  &Controls {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  &Btn {
    margin-right: 20px;

    &Mob {
      display: none;
    }
  }

  &BookCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 140%;
    color: $color-main;
    margin: 60px 0;

    &.empty {
      color: $color-third;
    }

    span {
      font-family: 'Merriweather', serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 5px;
    }
  }
}
.chooseBook {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fafafa;
  z-index: 2;
  overflow: auto;

  &Container {
    padding: 15px 15px 56px;
    max-width: 792px;
    margin: 0 auto;
  }

  &Input {
    margin: 40px 0 30px;
  }

  &Title {
    margin: 40px 0;
  }

  &Grid {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));

    .gridItem {
      cursor: pointer;
      & > div {
        pointer-events: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mobFilters {
    margin-bottom: 34px;

    &Title {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: $color-main;
      margin-bottom: 14px;
    }

  }

  .line {
    background: #D5D5D5;
    margin: 30px 0;
    height: 1px;
    display: block;
  }
  .flex {
    position: relative;
    padding: 30px 15px;
    margin: 0 -15px 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobSearch {
    margin-top: 0;
    max-width: 290px;
  }

  .backBtn {
    position: initial;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(108px, 1fr));
    grid-column-gap: 10px;
  }

  .reviewGrid {
    grid-template-columns: 1fr;

    .gridItem {
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .quotesGrid {
    grid-template-columns: 1fr;
  }

  .compilationsGrid {
    grid-template-columns: 1fr 1fr;
  }

  .title {
    margin-bottom: 30px;
  }

  .modal {
    margin: 0 -30px;

    &Title {
      font-size: 20px;
      line-height: 25px;
    }

    &Btns {
      margin-top: 30px !important;
      flex-direction: column-reverse;
    }
  }

  .quote {
    &Block {
      padding: 0;
      border: none;

      &Title {
        font-size: 14px;
        line-height: 16px;
      }
      &Author {
        margin: 10px 0;
      }
      &Text {
        margin-top: 10px;
      }
    }
  }

  .createBtn {
    margin-top: 30px;
  }
  .compilation {
    &Container {
      position: relative;
    }
    &Wrapper {
      height: 200px;
      margin-bottom: 30px;
    }
    &Back {
      z-index: 2;
    }
    &Controls {
      position: initial;
      transform: none;
    }
    &Btn {
      display: none;

      &Mob {
        display: block;
        margin: 30px 0 60px;
        width: 100%;
        height: 48px;
      }
    }
    &Dropdown {
      position: absolute !important;
      top: 30px;
      right: 15px;
      z-index: 2;

      > span {
        background: $text-hover;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border-color: $text-hover;
        transform: rotate(90deg);

        svg path {
          stroke: #fff;
        }

        &:hover {
          background: $accent-hover;
          border-color: $accent-hover;
        }
      }
    }
    &Title {
      font-size: 20px;
      line-height: 25px;
    }
    &BookCount {
      margin: 0;
      position: absolute;
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      flex-direction: row;
      font-size: 12px;
      line-height: 14px;
      color: #F1F1F1;

      span {
        font-family: 'Fira Sans', sans-serif;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        margin: 0 5px 0 0;
      }

      &.empty {
        color: #F1F1F1;
      }
    }
  }

  .chooseBook {
    &Container {
      padding-top: 0;
    }
    &Input {
      margin: 0;
    }
    &BackText {
      display: none !important;
    }
    &Title {
      margin: 30px 0;
    }
  }
}

@media screen and (max-width: 480px){
  .compilationsGrid {
    grid-template-columns: 1fr;
  }
}