@import '/styles/variables';

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  & > div {
    display: flex;
    align-items: center;
  }

  &Text {
    font-size: 16px;
    line-height: 18px;
    color: $color-main;
    margin-right: 20px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 24px;
  margin-bottom: 20px;

  &Item {
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.reviewGrid {
  grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
}

.modal {
  max-width: 318px;

  &Title {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 10px;
    color: $color-main;
  }

  &Text {
    font-size: 14px;
    line-height: 20px;
    color: $color-second;
  }

  &Btns {
    margin-bottom: 0;
    margin-top: 40px;
    flex-direction: row-reverse;

    > button:nth-child(2) {
      margin-left: 0;
      margin-right: 30px;
    }
  }

  &Btn {
    width: 298px;
    margin-top: 40px;
  }
}

.mlAuto {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .mobFilters {
    margin-bottom: 34px;

    &Title {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: $color-main;
      margin-bottom: 14px;
    }

  }

  .line {
    background: #D5D5D5;
    margin: 30px 0;
    height: 1px;
    display: block;
  }
  .flex {
    position: relative;
    padding: 30px 15px;
    margin: 0 -15px 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobSearch {
    margin-top: 0;

    input {
      max-width: 290px;
    }
  }

  .backBtn {
    position: initial;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(108px, 1fr));
    grid-column-gap: 10px;
  }

  .reviewGrid {
    grid-template-columns: 1fr;

    .gridItem {
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .title {
    margin-bottom: 30px;
  }
}