@import 'styles/variables.scss';

.wrapper {
  position: relative;
}
.buttonUp {
  position: fixed;
  right: 15px;
  bottom: 138px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #d4d4d4;
  background-color: $color-categories-btn;
}
