@import 'styles/variables.scss';
.bookInfo {
  display: flex;
}
.bookMainInfo {
  display: flex;
}
.bookCover {
  position: relative;
  width: 270px;
  max-height: 406px;
  // background-color: bisque;

  &Icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $color-main;
  }
}
.bookCoverAudio {
  max-height: 270px;
}
.aboutBook {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.43;
  max-width: 584px;
  margin-left: 24px;
  color: $color-second;
}
.bookTitle {
  font-family: Merriweather;
  font-size: 28px;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  color: $color-main;
}
.bookAuthor {
  margin-bottom: 20px;
}
.bookAuthorName {
  font-size: 16px;
  line-height: 1.125;
  color: $color-second;
  margin-right: 10px;
}
.bookAuthorLink {
  color: $color-third;
}
.bookDate {
  display: flex;
  margin-bottom: 23px;
}
.audioInfo {
  margin-right: 20px;
}
.bookDateYear {
  margin-right: 20px;
}
.bookRaiting {
  display: flex;

  & span {
    margin-left: 5px;
  }
}
.bookRaitingCount {
  margin-right: 10px;
}
.buttons {
  display: flex;
  margin: 20px 0;
}
.readButton {
  width: 200px;
  height: 40px;
  margin-right: 20px;
  background-color: $text-hover;
  color: $color-categories-btn;
  border-radius: 5px;
}
.readButton:hover {
  background-color: $accent-hover;
}
.dotsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid $color-star-border;
  border-radius: 5px;
}
.dotsButton:hover {
  border-color: $text-hover;
}
.activBtn {
  border-color: $text-hover;
}
//DROP DOWN
.dropdown {
  position: relative;
}
.menu {
  position: absolute;
  width: 237px;
  height: 240px;
  padding: 30px 20px;
  margin-top: 20px;
  border: 1px solid $color-bg-icon;
  border-radius: 10px;
  background-color: $color-categories-btn;
  transform: translateX(-50%);
  left: 50%;

  & a {
    font-size: 14px;
    line-height: 1.43;
    display: flex;
    align-items: center;
    color: $color-second;
    stroke: $text-hover;

    & span {
      margin-left: 15px;
    }
  }

  & a:hover {
    cursor: pointer;
    color: $text-hover;
  }

  & a:not(:last-child) {
    margin-bottom: 20px;
  }
}
.menuOption {
  color: $text-hover;
}
//  POP-UP
.popUp {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 60px;
  padding: 18px 0;
  color: $color-categories-btn;
  background: $color-main;
  transition: 5s;
}
.popUpLink {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    // bottom: -5px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-categories-btn;
  }
}

//
.navLinks {
  list-style: none;
  display: flex;
  margin-bottom: 20px;

  & li {
    margin-right: 30px;
  }
}
.ditalInfo {
  margin-top: 20px;

  & p {
    margin-bottom: 10px;
  }

  & span {
    color: $color-main;
  }
}
.starsBlock {
  font-size: 16px;
  line-height: 1.125;
  display: flex;
  margin-top: 13px;
  margin-bottom: 60px;
  color: $color-second;

  & p {
    margin-right: 20px;
  }
  & span {
    margin-right: 5px;
  }
}
