@import 'styles/variables.scss';

.bookInfo {
  display: flex;
  flex-direction: column;
}
.bookCover {
  position: relative;
  min-width: 270px;
  max-height: 406px;
  height: 406px;

  & img {
    border-radius: 5px;
  }

  &Icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $color-main;
    stroke: $color-categories-btn;
  }
}
.bookCoverAudio {
  max-height: 270px;

  & > span {
    @media (max-width: 768px) {
      border-radius: 5px;
      max-height: 108px;
    }
  }
}
.aboutBook {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.43;
  max-width: 584px;
  // margin-left: auto;
  color: $color-second;
}
.bookTitle {
  font-family: 'Merriweather', serif;
  font-size: 28px;
  line-height: 1.25;
  font-weight: 700;
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  color: $color-main;
}
.bookAuthor {
  margin-bottom: 20px;
}
.bookAuthorName {
  font-size: 16px;
  line-height: 1.125;
  color: $color-second;
  margin-right: 10px;
  transition: 0.15s;

  &:hover {
    color: $text-hover;
  }
}
.bookAuthorLink {
  color: $color-third;
  transition: 0.15s;

  &:hover {
    color: $text-hover;
  }
}
.bookDate {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: $color-second;
  display: flex;
  row-gap: 10px;
  margin-bottom: 23px;

  &Age {
    margin: 0 20px;
  }

  &Year {
    margin-right: 20px;
  }
  &Publish {
    span:first-of-type {
      color: #909190;
    }

    @media screen and (max-width: 768px) {
      flex-basis: 100%;
    }
  }
}
.audioInfo {
  margin-right: 20px;
}
.selectionDateViews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
  color: $color-third;
  margin-right: 20px;

  > span {
    margin-right: 10px;
  }
}
.raiting {
  font-size: 16px;
  line-height: 1.125;
  display: flex;
  color: $color-main;

  .bookRaiting {
    display: flex;
    align-items: center;
    margin-right: 30px;
    svg {
      height: 24px;
      width: 24px;
    }
    &Count {
      margin-left: 3px;
      color: $color-second;
    }
    span {
      height: 24px;
    }
  }
}
.starsBlock {
  font-size: 16px;
  line-height: 1.125;
  display: flex;
  align-items: center;
  color: $color-main;

  p {
    margin-right: 20px;
  }
  span {
    margin-right: 3px;
    height: 24px;
  }
  svg {
    height: 24px;
    width: 24px;
  }
}
.addDistance {
  margin-top: 20px;
  margin-bottom: 10px;
}
.buttons {
  display: flex;
  margin: 20px 0;
}
.readButton {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  margin-right: 20px;
  background-color: $text-hover;
  color: $color-categories-btn;
  border-radius: 5px;
  transition: 0.15s;

  &.input {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}
.readButton:hover {
  background-color: $accent-hover;
}

.seoName {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.menu {
  &Item {
    font-size: 14px;
    line-height: 1.43;
    display: flex;
    align-items: center;
    color: $color-second;
    stroke: $text-hover;
    fill: none;
    white-space: nowrap;
    transition: 0.15s;

    &.elect {
      opacity: 0.5;
      pointer-events: none;
    }

    span {
      margin-left: 15px;
    }

    &:hover {
      cursor: pointer;
      color: $text-hover;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
.menuOption {
  color: $text-hover;
}
//  POP-UP
.popUp {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  width: 100%;
  height: 60px;
  padding: 18px 0;
  color: $color-categories-btn;
  background: $color-main;
  transition: 5s;
  z-index: 3;
}
.popUpLink {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    // bottom: -5px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-categories-btn;
  }
}

//
.navLinks {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  margin-bottom: 20px;

  li {
    margin-right: 30px;

    &:last-child {
      flex-basis: 100%;
    }

    .number {
      color: $color-third;
    }

    a {
      transition: 0.15s;

      &:hover {
        color: $text-hover;
      }
    }

    h2 {
      font-size: inherit;
      font-weight: inherit;
    }
  }
}
.ditalInfo {
  margin-top: 20px;
  p {
    margin-bottom: 10px;

    span {
      color: $color-main;
    }

    //&:hover span {
    //  color: $text-hover;
    //}
  }

  h1 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

.infoBlockBook {
  display: flex;
}

.blockBookTitle {
  min-width: 588px;
  max-width: 590px;
  margin-left: 24px;
}

@media (max-width: 1024px) {
  .blockBookTitle {
    min-width: initial;
  }
}
@media (max-width: 768px) {
  .bookCover {
    min-width: 108px;
    height: 170px;
    max-width: 108px;
  }
  .bookTitle {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    hyphens: auto;
  }
  .wrapperBookTitle {
    position: absolute;
    top: 0;
    left: 118px;
  }
  .blockBookTitle {
    margin-left: 0;
  }
  .bookAuthorName {
    font-size: 14px;
    line-height: 20px;
  }
  .bookAuthor {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .bookDate {
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  .bookDuration {
    flex-basis: 100%;
    //margin-bottom: 10px;
  }
  .infoBlockBook {
    flex-direction: column;
    position: relative;
  }
  .raiting {
    font-size: 16px;
    line-height: 1.125;
    display: flex;
    color: $color-main;

    .bookRaiting {
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      margin-right: 30px;

      svg {
        height: 18px;
        width: 18px;
      }
      //   &Count {
      //     margin-left: 3px;
      //   }
      //   span {
      //     height: 24px;
      //   }
      // }
    }
  }
  .readButton {
    width: 285px;
    height: 48px;
  }
  .dotsButton {
    width: 48px;
    height: 48px;
  }

  .aboutBook {
    max-width: 100%;
    p {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .ditalInfo {
    p {
      font-size: 16px;
      line-height: 18px;
    }
  }
  .navLinks {
    font-size: 16px;
    line-height: 18px;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100vw;
    padding: 10px 0;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &::-moz-scrollbar {
      width: 0;
      height: 0;
    }
  }
  .menu {
    width: 100vw;
    min-height: 293px;
    padding: 43px 30px 30px;
    border-radius: 10px 10px 0 0;
    left: 0;
    transform: inherit;
  }
  .popUp {
    font-size: 14px;
    line-height: 1.43;
    padding: 15px 37px;
    height: 70px;
  }
  .popUpLink {
    display: initial;
    border-bottom: 1px solid $color-categories-btn;
    &::after {
      display: none;
    }
  }
}
