@import 'styles/variables.scss';

// .bookInfo {
//   display: flex;
// }
.bookInfo {
  display: flex;
  flex-direction: column;
}
.bookCover {
  position: relative;
  width: 270px;
  max-height: 406px;
  height: 406px;

  &Icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $color-main;
    stroke: $color-categories-btn;
  }
}
.bookCoverAudio {
  max-height: 270px;
}
.aboutBook {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.43;
  max-width: 584px;
  // margin-left: auto;
  color: $color-second;
}
.bookTitle {
  font-family: Merriweather;
  font-size: 28px;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  color: $color-main;
}
.bookAuthor {
  margin-bottom: 20px;
}
.bookAuthorName {
  font-size: 16px;
  line-height: 1.125;
  color: $color-second;
  margin-right: 10px;
}
.bookAuthorLink {
  color: $color-third;
}
.bookDate {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: $color-second;
  display: flex;
  margin-bottom: 23px;

  &Age {
    margin: 0 20px;
  }
}
.audioInfo {
  margin-right: 20px;
}
.selectionDateViews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Fira Sans, sans-serif;
  margin-left: 20px;
  color: $color-third;

  > span {
    margin-right: 10px;
  }
}
.raiting {
  font-size: 16px;
  line-height: 1.125;
  display: flex;
  color: $color-main;

  .bookRaiting {
    display: flex;
    align-items: center;
    margin-right: 30px;
    svg {
      height: 24px;
      width: 24px;
    }
    &Count {
      margin-left: 3px;
      color: $color-second;
    }
    span {
      height: 24px;
    }
  }
  .starsBlock {
    display: flex;
    align-items: center;

    p {
      margin-right: 20px;
    }
    span {
      margin-right: 3px;
      height: 24px;
    }
    svg {
      height: 24px;
      width: 24px;
    }
  }
}
.buttons {
  display: flex;
  margin: 20px 0;
}
.readButton {
  font-family: Fira Sans, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  width: 200px;
  height: 40px;
  margin-right: 20px;
  background-color: $text-hover;
  color: $color-categories-btn;
  border-radius: 5px;
}
.readButton:hover {
  background-color: $accent-hover;
}
.dotsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid $color-star-border;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s;
}
.dotsButton:hover {
  border-color: $text-hover;
}
.activBtn {
  border-color: $text-hover;
}

//DROP DOWN
.dropdown {
  position: relative;
}
.menu {
  position: absolute;
  width: 237px;
  min-height: 240px;
  padding: 30px 20px;
  margin-top: 20px;
  border: 1px solid $color-bg-icon;
  border-radius: 10px;
  background-color: $color-categories-btn;
  transform: translateX(-50%);
  left: 50%;

  &Item {
    font-size: 14px;
    line-height: 1.43;
    display: flex;
    align-items: center;
    color: $color-second;
    stroke: $text-hover;
    transition: 0.15s;

    span {
      margin-left: 15px;
    }

    &:hover {
      cursor: pointer;
      color: $text-hover;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
.menuOption {
  color: $text-hover;
}
//  POP-UP
.popUp {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 60px;
  padding: 18px 0;
  color: $color-categories-btn;
  background: $color-main;
  transition: 5s;
  z-index: 3;
}
.popUpLink {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    // bottom: -5px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-categories-btn;
  }
}

//
.navLinks {
  list-style: none;
  display: flex;
  margin-bottom: 20px;

  li {
    margin-right: 30px;
    .number {
      color: $color-third;
    }
  }
}
.ditalInfo {
  margin-top: 20px;
  p {
    margin-bottom: 10px;

    span {
      color: $color-main;
    }

    &:hover span {
      color: $text-hover;
    }
  }
}

.infoBlockBook {
  display: flex;
}

.blockBookTitle {
  min-width: 588px;
  margin-left: 24px;
}

@media (max-width: 1024px) {
  .blockBookTitle {
    min-width: initial;
  }
}
@media (max-width: 768px) {
  .bookCover {
    min-width: 108px;
    height: 160px;
    max-width: 108px;
  }
  .bookTitle {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .wrapperBookTitle {
    position: absolute;
    top: 0;
    left: 118px;
  }
  .blockBookTitle {
    margin-left: 0;
  }
  .bookAuthorName {
    font-size: 14px;
    line-height: 20px;
  }
  .bookAuthor {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .bookDate {
    margin-bottom: 10px;
  }
  .infoBlockBook {
    flex-direction: column;
    position: relative;
  }
  .raiting {
    font-size: 16px;
    line-height: 1.125;
    display: flex;
    color: $color-main;

    .bookRaiting {
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      margin-right: 30px;

      svg {
        height: 18px;
        width: 18px;
      }
      //   &Count {
      //     margin-left: 3px;
      //   }
      //   span {
      //     height: 24px;
      //   }
      // }
    }
  }
  .readButton {
    width: 285px;
    height: 48px;
  }
  .dotsButton {
    width: 48px;
    height: 48px;
  }
  .navLinks {
    font-size: 16px;
    line-height: 18px;
  }
  .aboutBook {
    p {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .ditalInfo {
    p {
      font-size: 16px;
      line-height: 18px;
    }
  }
}
