@import '/styles/variables';

.container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 60px;
  min-height: calc(100vh - 272px);

  h1,
  h2 {
    color: $color-main;
    font-family: Merriweather, sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  ul > li {
    list-style: none;
  }

  .setting {
    display: flex;

    &Menu {
      margin-right: 138px;

      > ul {
        margin-top: 43px;

        > li {
          display: flex;
          align-items: self-start;
          font-family: Fira Sans, sans-serif;
          font-size: 16px;
          line-height: 18px;
          width: 232px;
          padding: 3px 0px 3px;
          color: $color-second;
          margin-bottom: 18px;
          cursor: pointer;

          &.active {
            svg path {
              stroke: $text-hover;
            }
          }

          &:hover {
            svg path {
              stroke: $text-hover;
            }
            span {
              color: $text-hover;
            }
          }

          > svg {
            margin-right: 10px;

            path {
              transition: 0.15s;
            }
          }

          > span {
            padding-bottom: 15px;
            border-bottom: 1px solid $color-star-border;
            flex: 1;

            transition: 0.15s;
          }
        }

        li:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &Content {
      border: 1px solid $color-bg-icon;
      padding: 60px;
      border-radius: 5px;
      background-color: $color-categories-btn;
    }
  }
}
