@import '/styles/variables';

.container {
  margin-top: 30px;
  margin-bottom: 60px;

  ul > li {
    list-style: none;
  }
}

.setting {
  display: flex;

  &Menu {
    margin-right: 138px;
  }

  &Dropdown {
    margin-top: 43px;
  }

  &Content {
    border: 1px solid $color-bg-icon;
    padding: 60px;
    border-radius: 5px;
    background-color: $color-categories-btn;
  }

  &Flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 36px 0;
  }

  &Bell {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &Control {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-column-gap: 15px;
    align-items: center;
    color: $color-second;
    cursor: pointer;
  }

  &User {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &Avatar {
      width: 102px;
      height: 102px;
      border-radius: 50%;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }

    &Name {
      font-size: 16px;
      line-height: 18px;
      color: $color-main;
      margin-top: 10px;
    }
  }

  &Logout {
    width: max-content;
    margin: 60px auto 0;
  }
}

.menuItem {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  line-height: 18px;
  width: 232px;
  padding: 3px 0px 3px;
  color: $color-second;
  margin-bottom: 18px;
  cursor: pointer;

  &.settingDropdownBtn {
    display: none;
  }

  &.active {
    svg path {
      stroke: $text-hover;
    }
  }

  &:hover {
    svg path {
      stroke: $text-hover;
    }
    span {
      color: $text-hover;
    }
  }

  > svg {
    margin-right: 10px;

    path {
      transition: 0.15s;
    }
  }

  > span {
    padding-bottom: 15px;
    border-bottom: 1px solid $color-star-border;
    flex: 1;

    transition: 0.15s;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 992px) {
  .setting {
    &Menu {
      margin-right: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .setting {
    flex-direction: column;
    align-items: center;

    &Menu {
      margin: 0 auto 30px;
    }
  }
}

@media screen and (max-width: 480px) {
  .setting {
    align-items: flex-start;

    &Menu {
      margin: 0;
      width: 100%;
    }

    &Dropdown {
      position: relative;
      margin-bottom: 30px;

      &Btn {
        background: #FFFFFF;
        border: 1px solid #F1F1F1;
        box-sizing: border-box;
        box-shadow: 0px 3px 10px rgba(121, 121, 121, 0.1);
        border-radius: 5px;
        padding: 12px 15px !important;
        width: 100%;
        display: flex;
        align-items: center;
      }

      &Icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        flex: initial !important;
        transform: rotate(90deg);
        transition: .15s;

        &.active {
          transform: rotate(-90deg);
        }

        svg {
          width: 24px !important;
          height: 24px !important;
        }
      }

      ul {
        background: #FFFFFF;
        border: 1px solid #F1F1F1;
        box-sizing: border-box;
        box-shadow: 0px 6px 15px rgba(101, 101, 101, 0.12);
        border-radius: 10px;
        padding: 30px 15px;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
      }

    }

    &Content {
      width: 100%;
      padding: 30px 15px;
    }
  }

  .menuItem {
    margin-bottom: 22px;
    padding: 0;
    width: 100%;

    span {
      border-bottom: none;
      padding: 0;
    }

    &.settingDropdownBtn {
      display: flex;
    }

    &:hover,
    &.active {
      span {
        color: $color-second;
      }

      svg {
        path {
          stroke: $color-second;
        }
      }
    }

    svg {
      width: 20px;
      height: 20px;

      path {
         stroke: $color-second;
      }
    }
  }
}
