@import 'styles/variables.scss';

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: $color-main;
  flex: 1;
}
.mainBlock {
  display: flex;
  margin-top: 40px;
}
.booksGrid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 40px;
  align-self: self-start;
}
.booksColumn {
  display: flex;
  flex-direction: column;
  max-width: 588px;

  h3 {
    -webkit-line-clamp: 1;
  }
}
.advertisingBlok {
  display: block;
  margin-left: 24px;
  min-width: 180px;
  min-height: 1104px;
}
.bannerBlock {
  min-width: 180px;
  display: block;
  width: 100%;

  margin-bottom: 40px;
}
.banner {
  width: 100%;
  height: 1104px;
}
.head {
  display: flex;
  > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .advertisingBlok {
    width: 180px;
  }
  .booksGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 24px;
    justify-content: space-around;
  }
  .booksColumn {
    max-width: initial;
  }
}
@media (max-width: 1023px) {
  .title {
    margin-bottom: 30px;
  }
  .head {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .booksColumn {
    max-width: 100%;
  }
  .advertisingBlok {
    display: none;
  }
}
@media (max-width: 500px) {
  .booksGrid {
    gap: 30px 10px;
    justify-content: space-around;
  }
}
