@import 'styles/variables.scss';

.catList {
  margin-top: 40px;
  margin-bottom: 122px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
}
.catItem {
  font-size: 16px;
  line-height: 1.125;
  color: $color-second;
}
