.dropdown {
  position: relative;
  display: inline-block;
}
.dropBtn {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 138px;
  height: 32px;
  border: none;
  border-radius: 64px;
}
.dropBtn:hover {
  color: #0e263e;
  background: #f1f7ff;
}
.open {
  color: #fff;
  background: #0e263e;
}
.close {
  color: #0e263e;
  background-color: #f1f1f1;
}

.dropContent {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  padding: 0;
  width: 237px;
  max-height: 435px;
  margin-top: 22px;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
  border: 1px solid #f1f1f1;
  border-radius: 10px;
}
.dropLink {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.4;
  margin: 15px 20px;
  text-decoration: none;
  color: #4f4f4f;
}
.dropLink:hover {
  color: #0e263e;
}
.up {
  transform: rotate(180deg);
}
.radio {
  position: relative;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.dropLink::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  border: 2px solid #909190;
  border-radius: 50%;
}
.dropLink:hover::before {
  border: 2px solid #0e263e;
}
.dropLink:checked::before {
  border: 2px solid #0e263e;
  background-image: url("../../../public/ellipse.svg");
}
