@import "styles/variables";

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 50;

  &Block {
    position: relative;
    padding: 60px;
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    max-height: 90vh;
    overflow: auto;

    &Cross {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 26px;
      right: 26px;
      height: 24px;
      width: 24px;

      &:hover {
        > span:nth-child(1) {
          background-color: $text-hover;
        }

        > span:nth-child(2) {
          background-color: $text-hover;
        }
      }

      > span:nth-child(1) {
        width: 15px;
        height: 2px;
        background-color: #909190;
        transform: rotate(45deg);
        border-radius: 2px;
      }

      > span:nth-child(2) {
        position: absolute;
        width: 15px;
        height: 2px;
        border-radius: 2px;
        background-color: #909190;
        transform: rotate(-45deg);
      }
    }
  }

  &BlockFullScreen {
    padding: 30px 15px;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    border-radius: 0;
    overflow: auto;

    &Cross {
      top: 30px;
      right: 15px;
    }
  }
}