@import "styles/variables";

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  //width: 100vw;
  //height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 50;

  &Block {
    position: relative;
    padding: 55px;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(77, 77, 77, 0.12);
    border: 5px solid transparent;
    border-radius: 5px;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: $color-main #fff;
    scrollbar-width: thin;

    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #fff;
      padding-right: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: $color-main;
      border-radius: 37px;
    }

    &Cross {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 26px;
      right: 26px;
      height: 24px;
      width: 24px;
      z-index: 2;

      &:hover {
        > span:nth-child(1) {
          background-color: $text-hover;
        }

        > span:nth-child(2) {
          background-color: $text-hover;
        }
      }

      > span:nth-child(1) {
        width: 15px;
        height: 2px;
        background-color: #909190;
        transform: rotate(45deg);
        border-radius: 2px;
      }

      > span:nth-child(2) {
        position: absolute;
        width: 15px;
        height: 2px;
        border-radius: 2px;
        background-color: #909190;
        transform: rotate(-45deg);
      }
    }
  }

  &BlockFullScreen {
    padding: 30px 15px;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    border-radius: 0;
    overflow: auto;

    &Cross {
      top: 30px;
      right: 15px;
    }
  }
}

@media screen and (max-width: 480px){
  .wrapper {
    &Block {
      margin: 0 15px;
    }
    &BlockFullScreen {
      margin: 0;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 3) {
  .wrapper {
    &BlockFullScreen {
      padding-top: 50px;

      &Cross {
        top: 50px;
      }
    }
  }
}
