@import "styles/variables";

@mixin changeStyle($bg, $bg-c, $cb, $bb, $h1-color, $span-color, $h3-color, $p-color, $color-svg:$color-star-border,
 $iconRight: $color-third, $color-arrow:$color-main, $switcher-text: $color-main) {
  background: $bg;
  .containerHeader {
    .arrow {
      > path {
        stroke: $color-arrow;
      }
    }

    .svgChange {
      > g > path {
        fill: $color-svg;
      }
    }

    .iconGroup {
      .iconRight {
        > path {
          fill: $iconRight;
          stroke: $iconRight;
        }
      }

      .control {
        background: $bg-c;
        border: 1px solid $cb;

        .fontBlock {
          > span {
            color: $switcher-text;
          }

          .changeFont {
            color: $switcher-text;
            .changeFontSvg {
              path {
                stroke: $switcher-text;
              }
            }
          }

          .fontDropDown {
            background: $bg-c;
            >button {
              color:  $switcher-text;
            }
          }
          .fontDropDownActive {
            border: 1px solid $bb;
          }
        }

        .controlBlock {
          .wrapSwitch {
            > span {
              color: $switcher-text;
            }

            .switch {
              background-color: $bg-c;
              border: 2px solid $bb;

              &:before {
                border: 2px solid $bg-c;
              }
            }
          }

          border-bottom: 1px solid $bb;
        }
      }
    }
  }

  .wrapText {
    > h1 {
      color: $h1-color;
    }

    > span {
      color: $span-color;
    }

    > h3 {
      color: $h3-color;
    }

    > p {
      color: $p-color;
    }
  }
}

.wrapper {

  &Default {
    @include changeStyle($bg: #ffffff, $bg-c: $color-categories-btn, $cb: $color-bg-icon, $bb: $color-star-border,
    $h1-color: $color-main, $span-color: $color-second, $h3-color: $color-main, $p-color: $color-second)
  }

  &Fifth {
    @include changeStyle($bg: $fifth, $bg-c: #FCF9F2, $cb: $color-star-border, $bb: $color-star-border,
    $h1-color: $color-main, $span-color: $color-main, $h3-color: $color-main, $p-color: $color-second,
    $switcher-text: $color-second)
  }

  &Fourth {
    @include changeStyle($bg: $fourth, $bg-c: #FDF8EA, $cb: rgba(127, 96, 76, 0.2), $bb: $color-star-border,
    $h1-color: #7F604C, $span-color: #7F604C, $h3-color: #7F604C, $p-color: $color-second, $iconRight: #7F604C,
    $color-arrow: #7F604C, $switcher-text: #7F604C)
  }

  &Third {
    @include changeStyle($bg: $third, $bg-c: $third, $cb: $color-second, $bb: $color-star-border,
    $h1-color: #D4D4D4, $span-color: #D4D4D4, $h3-color: #D4D4D4, $p-color: #696969, $iconRight: $color-star-border,
    $color-arrow: $color-star-border, $switcher-text: $color-star-border)
  }

  &Second {
    @include changeStyle($bg: $third, $bg-c: $third, $cb: $color-second, $bb: $color-third,
    $h1-color: $color-third, $span-color: $color-third, $h3-color: $color-third, $p-color: #585858,
    $color-svg: $color-third, $color-arrow: $color-third, $switcher-text: $color-third)
  }

  &First {
    @include changeStyle($bg: $third, $bg-c: $third, $cb: #676767, $bb: #676767,
    $h1-color: #676767, $span-color: #676767, $h3-color: #676767, $p-color: $color-second, $color-svg: #676767,
    $iconRight: #676767, $color-arrow: #676767, $switcher-text: #676767)
  }

  .containerHeader {

    max-width: 1200px;
    width: 100%;
    margin: 0 auto 58px;
    padding-top: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logoWrap {
      display: flex;
      align-items: center;

      .arrow {
        stroke: $color-main;
        transform: rotate(180deg);
        margin-right: 14px;
      }
    }

    .iconGroup {
      position: relative;
      display: flex;
      align-items: center;
      gap: 30px;

      > div {
        cursor: pointer;

        > svg:hover {
          path {
            fill: $text-hover;
            stroke: $text-hover;
          }
        }
      }

      .control {
        min-width: 279px;        
        transform: translate(-40px, 100%);        
        z-index: 1;

        > div:last-of-type {
          padding-bottom: 0 !important;
          margin-bottom: 0 !important;
          border-bottom: none !important;
        }

        .fontBlock {
          position: relative;
          display: flex;
          justify-content: space-between;

          > span {
            font-family: Fira Sans, sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
          }

          .changeFont {
            font-family: Fira Sans, sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            cursor: pointer;
            display: flex;
            align-items: center;

            &Active {
              >span {
                color: $text-hover;
              }
              path {
                stroke: $text-hover!important;
              }
              .changeFontSvg {
                transform: rotate(180deg);
                transition: transform 0.3s;
              }
            }

            &Svg {
              transform: rotate(0deg);
              transition: transform 0.3s;
              margin-left: 36px;
            }

            .fontDropDown {
              display: flex;
              flex-direction: column;
              gap: 20px;
              padding: 0px 78px;
              position: absolute;
              //background: #FAFAFA;
              box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
              border-radius: 10px;
              height: 0px;
              overflow: hidden;
              width: 278px;
              left: 0;
              top: 0;
              transform: translate(-20px, 35px);
              z-index: 50;
              transition: height 0.3s, padding 0.3s;

              >button {
                font-family: Fira Sans, sans-serif;
                font-size: 14px;
                line-height: 20px;
                padding: 0;
                //color: $color-second;
                &:hover {
                  color: $text-hover;
                }
              }

              &Active {
                height: 262px;
                max-height: 262px;
                //border: 1px solid #F1F1F1;
                padding: 30px 78px;
                transition: height 0.3s, padding 0.3s;
              }
            }
          }
        }

        &Block {
          padding-bottom: 20px;
          margin-bottom: 20px;

          .wrapSwitch {
            display: flex;
            align-items: center;
            justify-content: space-between;

            > span {
              font-family: Fira Sans, sans-serif;
              max-width: 140px;
              font-weight: 500;
              font-size: 16px;
              line-height: 18px;
            }

            .switch {
              appearance: none;
              height: 24px;
              width: 45px;
              cursor: pointer;
              border-radius: 38px;
              position: relative;
              transition: background-color 0.3s ease;

              &:before {
                content: "";
                height: 100%;
                width: 50%;
                position: absolute;
                border-radius: 50%;
                background: $color-star-border;

                transition: transform 0.3s ease, border-color 0.3s ease;
              }

              &:checked {
                border-color: $text-hover;
                background-color: $text-hover;

                &:before {
                  background: #fff;
                  border-color: $text-hover;
                  transform: translateX(100%);
                }
              }
            }
          }
        }
      }
    }
  }

  .wrapText {
    position: relative;
    margin: 0 auto;

    > h1 {
      font-family: Merriweather, sans-serif;
      font-size: 28px;
      line-height: 35px;
      text-align: center;
      margin-bottom: 10px;
    }

    > span {
      display: block;
      text-align: center;
      font-size: 16px;
      font-family: Fira Sans, sans-serif;

    }

    > h3 {
      margin: 26px auto 30px;
      font-family: Fira Sans, sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
    }

    > p {
      font-family: Fira Sans, sans-serif;
      font-size: 16px;
      text-align: left;
      text-indent: 20px;
      line-height: 140%;
    }

    .popUpAddQuotes {
      position: absolute;
      background: #ffffff;
      box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
      border-radius: 10px;
      padding: 30px 20px;
      max-height: 200px;
      width: 291px;
      >ul {
        list-style: none;
        >li {
          cursor: pointer;
          font-family: Fira Sans, sans-serif;
          line-height: 20px;
          font-size: 14px;
          display: flex;
          align-items: center;
          margin-bottom: 19px;
          &:hover {
            color: $text-hover;
          }
          >div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px;
            margin-right: 17px;
          }
        }
      }

      .selectColor {
        position: absolute;
        top: 30px;
        right: 20px;
        display: flex;
        gap: 10px;

        >button {
          min-height: 20px;
          min-width: 20px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
      }
    }
  }
}

.columnsWrapper {
  display: flex;
  justify-content: space-between;

  & > p {
    flex: 1;

    &:first-of-type {
      margin-right: 104px;
    }
  }
}

@media screen and (max-width: 768px) {
  .control {
    transform: none !important;
  }
}