.pageWrapper {
  &.brightness5 {
    --bg-color: #ffffff;
    --modal-color: #ffffff;
    --modal-border-color: #f1f1f1;
    --modal-text-color: #0e263e;
    --author-color: #4f4f4f;
    --text-color: #333333;
    --main-color: #0e263e;
    --icons-color: #909190;
    --controls-color: #d4d4d4;
    --filter-bg-color: #f1f1f1;
  }

  &.brightness4 {
    --bg-color: #faf6ea;
    --modal-color: #fcf9f2;
    --modal-border-color: #d5d5d5;
    --modal-text-color: #4f4f4f;
    --author-color: #0e263e;
    --text-color: #4f4f4f;
    --main-color: #0e263e;
    --icons-color: #909190;
    --controls-color: #d4d4d4;
    --filter-bg-color: #d5d5d5;
  }

  &.brightness3 {
    --bg-color: #f5efdd;
    --modal-color: #fdf8ea;
    --modal-border-color: rgba(127, 96, 76, 0.2);
    --modal-text-color: #7f604c;
    --author-color: #7f604c;
    --text-color: #4f4f4f;
    --main-color: #7f604c;
    --icons-color: #7f604c;
    --controls-color: #d4d4d4;
    --filter-bg-color: rgba(127, 96, 76, 0.2);
  }

  &.brightness2 {
    --bg-color: #333333;
    --modal-color: #333333;
    --modal-border-color: #4f4f4f;
    --modal-text-color: #d4d4d4;
    --author-color: #d4d4d4;
    --text-color: #696969;
    --main-color: #d4d4d4;
    --icons-color: #d4d4d4;
    --controls-color: #d4d4d4;
    --filter-bg-color: #4f4f4f;
  }

  &.brightness1 {
    --bg-color: #333333;
    --modal-color: #333333;
    --modal-border-color: #4f4f4f;
    --modal-text-color: #909190;
    --author-color: #909190;
    --text-color: #585858;
    --main-color: #909190;
    --icons-color: #909190;
    --controls-color: #909190;
    --filter-bg-color: #4f4f4f;
  }

  &.brightness0 {
    --bg-color: #333333;
    --modal-color: #333333;
    --modal-border-color: #676767;
    --modal-text-color: #676767;
    --author-color: #676767;
    --text-color: #4f4f4f;
    --main-color: #676767;
    --icons-color: #676767;
    --controls-color: #676767;
    --filter-bg-color: #3e3d3d;
  }
}
