@import 'styles/variables';

.selectionCover {
  // min-width: 1600px;
  min-height: 581px;
  padding: 60px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(/createSelectionCover.png);
}
.selectionName {
  font-family: Merriweather;
  font-size: 28px;
  line-height: 35px;
  margin-top: 213px;
  margin-bottom: 173px;
  color: $color-categories-btn;
}
.selectionBtns {
  display: flex;
  align-items: center;
  justify-content: center;

  &Dots {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    border: 1px solid $color-star-border;
    box-sizing: border-box;
    border-radius: 5px;
  }
}
.dotsActive {
  border: 1px solid $text-hover;
}

.editMenu {
  position: absolute;
  top: 0;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-50%);
  left: 50%;
  width: 237px;
  height: 120px;
  padding: 30px 20px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 4px 4px rgba(202, 202, 202, 0.25);
  border-radius: 10px;

  stroke: $text-hover;
  color: $color-second;

  &Option {
    cursor: pointer;
    display: flex;
    align-items: center;

    &Text {
      margin-left: 15px;
    }
  }
}
.section {
  min-height: 967px;
  padding: 60px 0;
}
.tab {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  > h2 {
    font-family: Merriweather;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
    color: $color-main;
  }

  > p {
    font-size: 14px;
    line-height: 1.43;
    color: $color-third;
  }
}
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.options {
  display: flex;
  align-items: center;
  &Label {
    font-size: 16px;
    line-height: 1.125;
    margin-right: 20px;
    color: $color-main;
  }
}
.dropdown {
  &Btn {
    position: relative;
    font-size: 14px;
    line-height: 1.43;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 15px;

    width: 157px;
    height: 32px;
    border-radius: 47px;

    color: $color-main;
    background-color: $color-bg-icon;
    stroke: $color-main;
  }

  &List {
    position: absolute;
    z-index: 1;
    width: 237px;
    padding: 30px 20px;
    margin-top: 20px;
    background-color: $color-categories-btn;
    border: 1px solid $color-bg-icon;
    box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
    border-radius: 10px;

    &Item {
      display: flex;
      align-content: center;
      stroke: $text-hover;

      & span {
        margin-left: 10px;
      }

      &:hover {
        cursor: pointer;
        color: $text-hover;
      }
    }

    &Item:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

.down {
  margin-left: 10px;
  transform: rotate(180deg);
}
.up {
  margin-left: 10px;
  transform: rotate(0deg);
}
.filter {
  display: flex;
  align-items: center;
}
.input {
  position: relative;
  &Svg {
    width: 24px;
    height: 24px;
  }

  &SvgIcon {
    position: absolute;
    top: 3px;
    left: 17px;
    width: 24px;
    height: 24px;
  }

  &Search {
    width: 196px;
    height: 32px;
    padding: 6px 0;
    padding-left: 49px;
    background: $color-bg-icon;
    border: none;
    outline: none;
    border-radius: 36px;
  }
}
.dropdownPopular {
  position: relative;
  margin-left: 30px;

  &Btn {
    font-size: 14px;
    line-height: 1.43;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 15px;

    height: 32px;
    border-radius: 47px;

    color: $color-main;
    background-color: $color-bg-icon;
    stroke: $color-main;
  }

  &List {
    position: absolute;
    z-index: 1;
    width: 237px;
    padding: 30px 20px;
    margin-top: 20px;
    right: 0;
    background-color: $color-categories-btn;
    border: 1px solid $color-bg-icon;
    box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
    border-radius: 10px;

    &Item {
      font-size: 14px;
      line-height: 1.43;

      display: flex;
      align-content: center;

      color: $color-second;
      stroke: $text-hover;

      & span {
        margin-left: 10px;
      }

      &:hover {
        cursor: pointer;
        color: $color-main;
      }
    }

    &Item:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}
.active {
  background-color: $color-main;
  color: $color-categories-btn;
  stroke: $color-categories-btn;
}
.radio {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid $color-categories-btn;
  background-color: transparent;
  box-shadow: 0 0 0 2px $color-third;
}
.radio:hover {
  box-shadow: 0 0 0 2px $color-main;
}
.radioActive {
  background-color: $color-main;
  box-shadow: 0 0 0 2px $color-main;
}
.bookList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px 24px;
  margin-top: 40px;
  margin-bottom: 60px;

  &Item {
    position: relative;
  }
}
.addBook {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
}
