@import 'styles/variables.scss';

.review {
  display: flex;
  margin-bottom: 40px;

  &Content {
    margin-left: 24px;
    flex-grow: 1;
  }

  &Date {
    font-size: 12px;
    line-height: 1.17;
    color: $color-third;
    margin-bottom: 20px;
  }

  &Head {
    width: 100%;
    padding-bottom: 13px;
    border-bottom: 1px solid $color-star-border;
  }
}
.quotes {
  padding-bottom: 0;
  border: none;
}
.reviewer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &Img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  &Name {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $color-main;
  }
}
.reviewRaiting {
  display: flex;
  justify-content: flex-start;
  & p {
    margin-right: 10px;
  }

  & > span {
    margin-right: 10px;
    color: $color-main;
  }
}
.reviewTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  margin-top: 30px;
  margin-bottom: 8px;
  color: $color-main;
}
.reviewText {
  font-size: 14px;
  line-height: 1.43;
  color: $color-second;

  &Hide {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
  }
}
.showMoreLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 18px;
  color: $text-hover;
  stroke: $text-hover;
}
.dropDownArrow {
  margin-left: 10px;
    stroke-width: 2px;

  transform: rotate(180deg);
}
.up {
  transform: rotate(0deg);
}

@media screen and (max-width: 768px) {
  .review {
    flex-direction: column;
    margin-bottom: 60px;

    &Content {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}