@import 'styles/variables';

.Social {
  margin-top: 40px;

  > h4 {
    color: $color-main;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  &Buttons {
    display: flex;
    align-items: center;
    gap: 20px;

    > div {
      font-size: 12px;
      line-height: 14px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      > button {
        min-width: 42px;
        min-height: 42px;
        max-width: 42px;
        max-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid $color-star-border;

        &:hover {
          border: 1px solid $text-hover;
        }
      }
    }
  }
}