.navigation {
  display: flex;
  font-size: 14px;
  text-align: start;
  align-items: center;
}
.link {
  text-decoration: none;
  margin-right: 30px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  color: #4f4f4f;
  fill: #4f4f4f;
}
.linkStroke {
  stroke: #4f4f4f;
  fill: none;
}
.link:hover {
  position: relative;
  color: #ff781d;
  fill: #ff781d;
}
.linkStroke:hover {
  stroke: #ff781d;
  fill: none;
}
.link:hover::after {
  content: '';
  position: absolute;
  bottom: -5px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ff781d;
}
.active {
  position: relative;
  color: #ff781d;
  fill: #ff781d;
}
.activeStroke {
  position: relative;
  color: #ff781d;
  stroke: #ff781d;
}
.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ff781d;
}
.activeStroke::after {
  content: '';
  position: absolute;
  bottom: -5px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ff781d;
}
.icon {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  /* color: #4f4f4f; */
}
