.navigation {
  display: flex;
  font-size: 14px;
  text-align: start;
  align-items: center;
}
.link {
  text-decoration: none;
  margin-right: 30px;
  padding-bottom: 6px;
  color: #4f4f4f;
  stroke: #4f4f4f;
}
.link:hover {
  position: relative;
  color: #ff781d;
  stroke: #ff781d;
}
.link:hover::after {
  content: '';
  position: absolute;
  bottom: -5px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ff781d;
}
.active {
  position: relative;
  color: #ff781d;
  stroke: #ff781d;
}
.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ff781d;
}
.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  color: #4f4f4f;
}
