.filterContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.filter {
  display: flex;
  align-items: baseline;
}
.title {
  font-size: 14px;
  line-height: 1.43;
  margin: 0;
  margin-right: 5px;
  color: #0e263e;
}
.alphabet {
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 421px;
  margin: 0;
  padding: 0;
  color: #0e263e;
}
.leter:hover {
  color: #ff781d;
}

@media (max-width: 1200px) {
  .filterContainer {
    display: none;
  }
}
@media (max-width: 768px) {
}
