@import 'styles/variables';

.container {
  min-width: 180px;
}
.containerColumn {
  display: flex;
  margin-bottom: 40px;
}
.wrapper {
  position: relative;
  min-width: 180px;

  img {
    object-fit: cover;
  }
}
.bookRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.43;
  color: $color-third;
}
.bookName {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.13;
  color: $color-main;
  &:hover {
    color: $text-hover;
  }
}
.bookAuthor {
  font-size: 14px;
  line-height: 1.43;
  margin: 10px 0 0;
  color: $color-second;
}
.bookCategorie {
  font-size: 12px;
  line-height: 1.167;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 18px;
  padding: 2px 4px;
  border-radius: 3px;
  color: $color-categories-btn;
  background-color: $color-main;
}
.audioIcon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  bottom: 10px;
  height: 35px;
  width: 35px;
  background: $color-main;
  border-radius: 50%;
}
.bookInfo {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.starOrder {
  margin: 0;
  order: 3;
}
.extraInfo {
  font-size: 14px;
  line-height: 1.43;
  margin-top: 10px;
  margin-bottom: 32px;
  color: $color-second;
}
.aboutBook {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.bookYear {
  margin-bottom: 10px;
}
.bookGenre {
  margin-left: 20px;
}
