@import 'styles/variables.scss';

.wrapper {
  box-sizing: border-box;
  background: $color-bg-icon;
  padding: 28px 0;
  /* box-shadow: 0 0 0 5px #fff; */
}
.container {
  display: flex;
  width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.slogan {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  margin-top: 10px;
}
.footerInfo {
  display: flex;
  align-items: center;
}
.socialmedia {
  display: flex;
  box-sizing: border-box;
  height: 30px;
  padding: 5px 40px;
  border-right: 1px solid $color-third;
}
.socialmediaLink:not(:last-child) {
  margin-right: 15px;
}
.pagesList {
  font-size: 14px;
  line-height: 1.43;
  padding: 5px 40px;
  margin: 0;
  border-right: 1px solid $color-third;
  color: $color-third;
}
.page:not(:last-child) {
  margin-right: 30px;
}
.label {
  font-size: 14px;
  line-height: 1.43;
  margin-left: 40px;
  color: $color-main;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 20px 15px;
  }
  .container {
    width: 100%;
  }
  .footerInfo {
    // width: 100%;
  }

  .socialmediaLink:not(:last-child) {
    margin-right: 0;
  }
  .socialmedia {
    display: flex;
    justify-content: space-between;
    // width: 100%;
    padding: 5px 10px;
    > .mobile {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  .pagesList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
  }

  .page:not(:last-child) {
    margin-right: 5px;
  }
  .label {
    margin-left: 10px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 30px 15px 10px 15px;
  }
  .container {
    position: relative;
    flex-direction: column;
    width: 100%;
  }
  .footerInfo {
    flex-direction: column;
    width: 100%;
  }
  .socialmedia {
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    > .mobile {
      margin-right: 30px;
      margin-left: 30px;
    }
  }
  .pagesList {
    border: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid $color-star-border;
  }
  .page {
    padding-bottom: 30px;
  }
  .page:not(:last-child) {
    margin: 0;
  }
  .label {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .slogan {
    position: absolute;
    left: 50%;
    bottom: 0;
    white-space: nowrap;
    width: auto;
    transform: translateX(-50%);
  }
  .txt {
    height: 48px;
  }
} ;
