@import 'styles/variables.scss';

.added {
  background: $color-bg-icon;
  color: $color-main;

  &:hover {
    background: $color-star-border;
    color: $color-main;
  }
}

.respBtn {
  display: none;
  margin: 0;
}

.selection {
  &Container {
    padding-bottom: 60px;
  }
  &Text {
    font-size: 16px;
    line-height: 140%;
    color: $color-second;
    max-width: 587px;
    margin-bottom: 40px;
  }
  &Grid {
    display: grid;
    grid-template-columns: repeat(5, 180px);
    grid-column-gap: 24px;
    grid-row-gap: 40px;
  }
}

.empty {
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .selection {
    &Grid {
      grid-template-columns: repeat(4, 180px);
    }
  }
}

@media screen and (max-width: 823px) {
  .selection {
    &Grid {
      grid-template-columns: repeat(3, 180px);
    }
  }
}

@media screen and (max-width: 768px) {
  .respBtn {
    display: block;
    margin: 0;
  }
  .selection {
    &Text {
      font-size: 14px;
      line-height: 140%;
      max-width: 100%;
      margin: 30px 0;
    }
    &Grid {
      grid-template-columns: repeat(auto-fill, minmax(108px, 1fr));
      grid-column-gap: 10px;
      grid-row-gap: 30px;
    }
  }
}

@media screen and (max-width: 480px) {
  .respBtn {
    width: 100%;
  }
}
