@import 'styles/variables.scss';

.abContainer {
  margin-bottom: 43px;
}
.filters {
  padding-top: 8px;
}
.abTitle {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  margin-top: 30px;
  margin-bottom: 40px;
  color: $color-main;
}
.abCateg {
  font-family: Fira Sans, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  cursor: pointer;
  box-sizing: border-box;
  height: 36px;

  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 33px;
  color: $color-main;
  border: 1px solid $color-star-border;
  background-color: $color-categories-btn;
}
.abCateg:hover {
  color: $text-hover;
}
.abCategLink {
  padding: 8px 15px;
}

@media (max-width: 1200px) {
}
@media (max-width: 768px) {
  .abTitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
}
