@import 'styles/variables.scss';

.abContainer {
  margin-bottom: 43px;
}
.abTitle {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  margin-top: 30px;
  margin-bottom: 36px;
  color: $color-main;
}
.abCateg {
  cursor: pointer;
  box-sizing: border-box;
  height: 36px;

  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 33px;
  color: $color-main;
  border: 1px solid $color-star-border;
  background-color: $color-categories-btn;
}
.abCateg:hover {
  color: $text-hover;
}
.abCategLink {
  padding: 8px 15px;
}
