@import 'styles/variables.scss';

.wrapper {
  display: flex;
}
.mainBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.relatedInfo {
  max-width: 588px;
  &Banner {
    display: block;
    width: 588px;
    height: 250px;
  }
}

.compilBlock {
  margin-bottom: 60px;
}
.compilTitle {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 40px;
  color: $color-main;
}
.compilBookCover {
  position: relative;
  border-radius: 5px;

  &Stat {
    font-size: 12px;
    line-height: 1.167;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 62px;
    height: 24px;
    padding: 5px 10px;
    color: $color-main;
    background-color: $color-categories-btn;
    border-radius: 58px;
  }
}
.compilBookTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 10px;
  color: $color-main;
}
.btnCompil {
  top: 29px;
}
.recommendations {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.42;
  margin-bottom: 10px;
  color: $color-main;

  &Label {
    font-size: 16px;
    line-height: 1.29;
    color: $color-second;
  }
}
.recomInput {
  font-family: Fira Sans, sans-serif;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 10px;

  border: 1px solid $color-star-border;
  background-color: transparent;
  border-radius: 59px;
  outline: none;

  &::-webkit-input-placeholder {
    font-family: Fira Sans, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: $color-third;
  }

  &::-moz-placeholder {
    font-size: 14px;
    line-height: 1.43;
    color: $color-third;
  }

  &Label {
    font-size: 14px;
    line-height: 1.43;
    color: $color-second;
    margin-bottom: 60px;
  }
}
.userInput:hover {
  border-color: $color-third;
}
.advertisingBlok {
  display: block;
  margin-left: 24px;
  max-width: 294px;
  min-height: 1104px;
}
.banner {
  width: 100%;
  height: 1104px;
}
.banner:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .advertisingBlok {
    display: none;
  }
}
@media (max-width: 915px) {
  .relatedInfo {
    max-width: calc(100vw - 30px);
    &Banner {
      width: 100%;
      height: 168px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}
@media (max-width: 768px) {
  .mainBlock {
    align-items: initial;
  }
}
