@import '/styles/variables.scss';

.container {
  margin-bottom: 40px;
}
// .reviewSwiper {

// }
.reviewer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &Img {
    border-radius: 50%;
    overflow: hidden;
  }

  &Name {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-left: 10px;
  }
}
.containerReviews {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
  color: $color-main;
}
.title {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  margin: 0;
}
.newLink {
  display: flex;
  font-size: 16px;
  line-height: 1.13;
  align-items: center;
  text-decoration: none;
  stroke: $color-main;
}
.newLink:hover {
  color: $text-hover;
  stroke: $text-hover;
}
.reviewsCover {
  display: flex;
  min-width: 384px;
  min-height: 183px;
  background-color: $color-bg-icon;
  border-radius: 5px;
  padding: 20px;
}
.bookMainInfo {
  margin-left: 20px;
}
.bookTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  margin: 0;
  margin-bottom: 10px;
  color: $color-main;
}
.bookAuthor {
  font-size: 14px;
  line-height: 1.43;
  margin: 0;
  color: $color-third;
}
.reviewInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  color: $color-third;
}
.reviewViews {
  font-family: Fira Sans, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  display: flex;
  align-items: center;
}
.sumReviews {
  margin-right: 10px;
}

.reviewData {
  font-size: 12px;
  line-height: 1.167;
  margin: 0;
}
.reviewStatistic {
  display: flex;
  font-size: 14px;
  line-height: 1.43;
  color: $color-third;
}
.reviewIcon {
  display: block;
  margin-right: 10px;
  stroke: $color-third;
}
.reviewLike {
  margin-right: 34px;
}
.reviewTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  margin-bottom: 10px;
}
.reviewText {
  font-size: 14px;
  line-height: 1.43;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  margin: 0;
  margin-bottom: 20px;
  color: $color-second;
}

@media (max-width: 1200px) {
  .reviewsCover {
    min-width: 345px;
    min-height: 164px;
    padding: 10px;
  }
  .reviewInfo {
    margin-top: 12px;
  }
}
@media (max-width: 768px) {
  .container {
    order: 6;
  }
  .bookMainInfo {
    margin-left: 10px;
  }
  .bookTitle {
    font-size: 14px;
    line-height: 16px;
  }
  .bookAuthor {
    font-size: 12px;
    line-height: 14px;
  }
  .reviewViews {
    font-size: 12px;
    line-height: 14px;
  }
  .reviewText {
    margin-bottom: 22px;
  }
}
