.container {
  width: 1200px;
  margin: auto;
}
.mainContainer {
  display: flex;
  padding-top: 30px;
}
.mainBlock {
  position: relative;
  margin-left: 24px;
}
.new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 42px;
}
.newTitle {
  font-family: Merriweather;
  font-weight: Bold;
  font-size: 24px;
  line-height: 1.25;
  margin: 0;
}
.newLink {
  display: flex;
  font-size: 16px;
  line-height: 1.13;
  align-items: center;
  text-decoration: none;
  color: #0e263e;
}
.newLink:hover {
  color: #ff781d;
}
.booksList {
  display: flex;
  list-style: none;
  padding: 0;
}
.bookItem {
  width: 180px;
}
.bookItem:not(:last-child) {
  margin-right: 24px;
}
.bookRating {
  margin: 0;
  margin-top: 5px;
}
.bookName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.13;
  margin: 0;
  margin-top: 10px;
  color: #0e263e;
}
.bookAuthor {
  font-size: 14px;
  line-height: 1.43;
  margin: 0;
  margin-top: 10px;
  color: #4f4f4f;
}
.arrowNext {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
}
.arrowNext:hover {
  stroke: #ff781d;
}
.hero {
  position: relative;
  margin: 60px 0;
}
.wrapper {
  display: flex;
}
