@import 'styles/variables';

.container {
  display: flex;
}
.wrapper {
  margin-right: 228px;
}
.categories {
  &Title {
    font-family: Merriweather;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 25px;
    color: $color-main;
  }
  &List {
    margin-bottom: 60px;
    &Item {
      width: 384px;
      padding: 15px 0;
      border-bottom: 1px solid $color-star-border;

      > span {
        font-size: 14px;
        line-height: 1.43;
        color: #909190;
      }
    }
  }

  &Link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18px;
    color: $color-second;
    transition: .15s;

    &:hover {
      color: $text-hover;

      span {
        color: #909190;
      }
    }

    > span {
      font-size: 14px;
      line-height: 1.43;
      color: #909190;
    }
  }
}
