@import 'styles/variables';

.button {
  font-family: Ubuntu, sans-serif;
  outline: none;
  border: none;
  text-align: center;
  width: 200px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  background-color: $text-hover;
  color: $color-categories-btn;
  border-radius: 5px;
  cursor: pointer;
}
