@import 'styles/variables';

.button {
  font-family: Fira Sans, sans-serif;
  outline: none;
  border: none;
  text-align: center;
  width: 200px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.43;
  background-color: $text-hover;
  color: $color-categories-btn;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s;

  &:hover {
    background-color: $accent-hover;
  }
}
