@import 'styles/variables.scss';

.container {
  margin-top: 70px;
  margin-bottom: 60px;

  .wrapHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
    color: #0e263e;

    .newLink {
      display: flex;
      font-size: 16px;
      line-height: 1.13;
      align-items: center;
      text-decoration: none;
      stroke: #0e263e;

      &:hover {
        color: #ff781d;
        stroke: #ff781d;
      }
    }

    .title {
      font-family: Merriweather;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.25;
      margin: 0;
    }
  }

  .selection {
    &Block {
      display: flex;
      flex-direction: column;
      width: 100%;
      width: 384px;
    }

    &Img {
      position: relative;

      &Count {
        font-family: Fira Sans, sans-serif;
        font-size: 14px;
        line-height: 1.43;
        position: absolute;
        background: #fff;
        bottom: 10px;
        right: 10px;
        width: 69px;
        height: 32px;
        border-radius: 58px;
        color: $color-main;
        padding: 6px 10px;
        font-size: 14px;
      }

      img {
        display: block;
        border-radius: 5px;
      }
    }

    &Date {
      display: flex;
      justify-content: space-between;
      font-family: Fira Sans, sans-serif;
      font-size: 12px;
      line-height: 14px;
      color: $color-third;
      margin: 13px 0px;

      &Views {
        font-size: 14px;
        line-height: 1.43px;
        display: flex;
        align-items: center;

        > span {
          margin-right: 10px;
        }
      }
    }

    &Description {
      font-family: Fira Sans, sans-serif;
      font-size: 14px;
      line-height: 1.43;
      color: $color-second;

      > h3 {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 10px;
        color: $color-main;
        line-height: 18px;
      }
      .textOver {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
      }
    }
  }

  .positionButton {
    top: 67px !important;
  }
}

@media (max-width: 1200px) {
  .container {
    .selection {
      &Block {
        width: 100%;
        // width: 345px;
      }
      &Img {
        width: 100%;
        &Count {
          bottom: 5px;
          right: 5px;
          font-size: 12px;
          line-height: 14px;
          width: 62px;
          height: 26px;
        }
        img {
          object-fit: contain;
          width: 100%;
        }
      }

      &Date {
        margin: 7px 0 12px;
      }
    }
  }
}
@media (max-width: 768px) {
  .container {
    order: 4;
    margin-top: 0;
  }
}
