.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
  color: #0e263e;
}
.title {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  margin: 0;
}
.newLink {
  display: flex;
  font-size: 16px;
  line-height: 1.13;
  align-items: center;
  text-decoration: none;
}
.newLink:hover {
  color: #ff781d;
}
