@import 'styles/variables.scss';

.mainBlock {
  display: flex;
  margin-top: 40px;
}
.booksGrid {
  list-style: none;
  display: grid;
  align-self: self-start;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 40px;
}
.advertisingBlok {
  display: block;
  margin-left: 24px;
  min-width: 180px;
  max-width: 384px;
  min-height: 1104px;
}
.banner {
  // display: block;
  height: 1104px;
}
.banner:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .advertisingBlok {
    display: none;
  }
}
@media (max-width: 768px) {
  .booksGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 24px;
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .booksGrid {
    gap: 30px 10px;
    justify-content: space-around;
  }
}
