@import 'styles/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
}

.title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  white-space: nowrap;
  margin-right: auto;
  color: $color-main;
  flex: 1;
}

.mainBlock {
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
}

.booksGrid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 40px;
  align-self: self-start;
}

.booksColumn {
  display: flex;
  flex-direction: column;
  max-width: 588px;

  h3 {
    -webkit-line-clamp: 1;
  }
}

.advertisingBlok {
  margin-top: 71px;
  margin-left: 24px;
  min-width: 180px;
  width: 180px;
  min-height: 1104px;
  overflow: hidden;

  &.list {
    //min-width: 180px;
    width: 384px;
  }
}

.bannerBlock {
  margin-bottom: 40px;
}

.banner {
  width: 100%;
  height: auto;
}

.head {
  display: flex;

  > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.mobal {
  margin-right: auto;
}

.mobalModal {
  display: flex;
  align-items: center;
  margin-right: auto;

  &FiltersMenu {
    display: flex;
    flex-direction: column;

    > button {
      font-family: 'Fira Sans', sans-serif;
      font-size: 16px;
      line-height: 18px;
      display: flex;
      align-items: center;
      width: 160px;
      height: 40px;
      padding: 8px 15px;
      margin-top: 34px;
      border-radius: 36px;
      background-color: $color-main;
      color: $color-categories-btn;

      svg {
        margin-left: 10px;
      }
    }

    .filters {
      display: flex;
      align-items: center;

      > span {
        font-size: 14px;
        line-height: 20px;
        margin-right: 5px;
      }
    }
  }

  .modal {
    padding: 30px 15px;
  }

  &Head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .filterCount {
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-left: 5px;
      margin-right: 51px;
      color: $color-categories-btn;
      background-color: $text-hover;
    }
  }

  &Title {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }

  &Filters {
    font-size: 14px;
    line-height: 20px;
    margin-right: 47px;
    color: $text-hover;
  }
}

.filterStatus {
  padding: 20px 0;
}

.filterStatus:not(:last-child) {
  border-bottom: 1px solid $color-star-border;
}

.btn {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.125;
  color: $color-main;
  stroke: $color-third;
  display: flex;
  width: 100%;
  padding: 0;
  padding-top: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;

  &:hover {
    stroke: $color-second;
  }
}

.dropDownIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  stroke-width: 2px;

  border-radius: 50%;
  background-color: $color-bg-icon;
  transform: rotate(180deg);
  transition: 0.15s;
}

.up {
  transform: rotate(0deg);
}

.dates {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: initial;
  max-height: 400px;
}

.input {
  font-family: 'Fira Sans', sans-serif;
  width: 100%;
  height: 48px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid $color-star-border;
  outline: none;
  color: $color-second;
  background-color: transparent;

  &::-webkit-input-placeholder {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: $color-third;
  }

  &::-moz-placeholder {
    font-size: 16px;
    line-height: 18px;
    color: $color-third;
  }
}

.input:hover {
  border-color: $color-third;
}

.filters {
  &Btn {
    font-size: 16px;
    line-height: 18px;
    width: 100%;
  }
}

.filterItem {
  margin-top: 30px;
}

.line {
  display: block;
  margin-bottom: 36px;
  width: 100%;
  height: 1px;
  background: #d5d5d5;
}

.filterTitle {
  font-weight: 500;
}

@media (max-width: 1200px) {
  .advertisingBlok {
    width: 180px;
  }

  .booksGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    //justify-content: space-around;
  }

  .booksColumn {
    max-width: initial;
  }
}

@media (max-width: 1023px) {
  .title {
    margin-bottom: 30px;
  }

  .head {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .booksColumn {
    max-width: 100%;
  }

  .advertisingBlok {
    display: none;
  }
}

@media (max-width: 500px) {
  .booksGrid {
    gap: 30px 10px;
    //justify-content: space-around;
  }
}
