@import 'styles/variables.scss';

.container {
  padding-bottom: 63px;
}
.reviewsTitle {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  margin-top: 60px;
  margin-bottom: 40px;
  color: $color-main;
}
.userForm {
  margin-top: 40px;

  &Header {
    display: flex;
    margin-bottom: 20px;
  }
}
.userIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;

  &UnderCom {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
  }
}
.userInput {
  font-family: Fira Sans, sans-serif;
  width: 484px;
  height: 35px;
  padding: 8px 20px;

  border: 1px solid $color-star-border;
  background-color: $color-categories-btn;
  border-radius: 59px;
  outline: none;

  &::-webkit-input-placeholder {
    font-family: Fira Sans, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: $color-third;
  }

  &::-moz-placeholder {
    font-size: 14px;
    line-height: 1.43;
    color: $color-third;
  }
}
.userInput:hover {
  border-color: $color-third;
}
.userComment {
  display: flex;
  align-items: center;
}
.controllBtn {
  font-size: 14px;
  line-height: 1.43;
  display: flex;
  align-items: center;
  margin-left: 41px;
}
.submitButton {
  width: 200px;
  height: 40px;
  margin-right: 30px;
  border-radius: 5px;
  color: $color-categories-btn;
  background-color: $text-hover;
}
.cancelBtn {
  font-family: Fira Sans, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  cursor: pointer;
  color: $color-second;
}
.reviewBlock {
  font-size: 14px;
  line-height: 1.43;
  padding: 20px 0;
  // border-bottom: 1px solid $color-star-border;
}

// commentText

.showMoreLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $text-hover;
  stroke: $text-hover;
}

.showNextComments {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  margin-top: 20px;
  padding-bottom: 19px;
  color: $text-hover;
}

@media (max-width: 768px) {
  .reviewsTitle {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .userIcon {
    width: 34px;
    height: 34px;
    margin-right: 9px;
  }
  .userInput {
    width: calc(100% - 43px);

    &::-webkit-input-placeholder {
      font-size: 16px;
      line-height: 18px;
      color: $color-third;
    }

    &::-moz-placeholder {
      font-size: 16px;
      line-height: 18px;
      color: $color-third;
    }
  }
  .userForm {
    &Header {
      margin-bottom: 18px;
    }
  }
}
