@import 'styles/variables.scss';

.abFilter {
  font-family: Fira Sans, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  cursor: pointer;
  box-sizing: border-box;
  height: 36px;
  padding: 8px 15px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 33px;
  color: $color-main;
  border: none;
  background: $color-bg-icon;
}
.abFilter:hover {
  color: $color-categories-btn;
  background-color: $color-main;
}
.active {
  color: $color-categories-btn;
  background-color: $color-main;
}
