@import 'styles/variables';

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 24px;
  margin-top: 40px;
}
.reviewsCover {
  display: flex;
  min-width: 384px;
  min-height: 183px;
  background-color: $color-bg-icon;
  border-radius: 5px;
  padding: 20px;
}
.bookMainInfo {
  margin-left: 20px;
}
.bookTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  margin: 0;
  margin-bottom: 10px;
  color: $color-main;
}
.bookAuthor {
  font-size: 14px;
  line-height: 1.43;
  margin: 0;
  color: $color-third;
}
.reviewInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  color: $color-third;
}
.reviewViews {
  display: flex;
  align-items: top;
}
.sumReviews {
  margin-right: 10px;
}
.reviewTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  margin: 10px 0;
}
.reviewText {
  font-size: 14px;
  line-height: 1.43;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  margin: 0;
  margin-bottom: 20px;
  color: $color-second;
}
.reviewBottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.43;
  color: $color-third;

  &Statistic {
    display: flex;
    stroke: $color-third;
  }
}
.reviewIcon {
  display: block;
  margin-right: 10px;
}
.reviewLike {
  margin-right: 26px;
}
.dotsIcon {
  cursor: pointer;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 4.16667px;
  border: 1px solid $color-star-border;
  &:hover {
    border-color: $text-hover;
  }
}
.active {
  border-color: $text-hover;
}
.editMenu {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 237px;
  height: 120px;
  padding: 30px 20px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
  border-radius: 10px;
  color: $color-second;

  &Option {
    cursor: pointer;
    display: flex;
    align-items: center;
    stroke: $color-third;

    &:hover {
      stroke: $text-hover;
    }

    &Text {
      margin-left: 15px;
    }
  }
}

//

.leaveReviewInputLabel {
  font-size: 14px;
  line-height: 1.143;
  margin-bottom: 10px;

  color: $color-third;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 40px;
}
.dropBtn {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 15px;
  width: 294px;
  height: 40px;
  stroke: #0e263e;

  background-color: $color-categories-btn;
  border: 1px solid $color-star-border;
  border-radius: 59px;
}
.dropBtn:hover {
  border: 1px solid $color-third;
}
.open {
  color: $color-categories-btn;
  background: #0e263e;
  stroke: $color-categories-btn;
}
.down {
    stroke-width: 2px;

  transform: rotate(180deg);
}
.up {
  transform: rotate(0deg);
}
.dropContent {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  padding: 30px 20px;
  width: 294px;
  max-height: 435px;
  margin-top: 22px;
  overflow-y: scroll;
  background-color: $color-categories-btn;
  box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
  border: 1px solid $color-bg-icon;
  border-radius: 10px;
}
.dropContent::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.dropContent::-webkit-scrollbar-thumb {
  margin-top: 5px;
  height: 120px;
  background-color: #0e263e;
  border: 1px solid $color-bg-icon;
  border-radius: 37px;
}
.dropLink {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
  color: $color-second;
}
.dropLink:not(:last-child) {
  margin-bottom: 15px;
}
.dropLink:hover {
  cursor: pointer;
  color: #0e263e;
}
.radio {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid$color-categories-btn;
  background-color: transparent;
  box-shadow: 0 0 0 2px $color-third;
}
.radio:hover {
  box-shadow: 0 0 0 2px $color-main;
}
.radioActive {
  background-color: $color-main;
  box-shadow: 0 0 0 2px $color-main;
}
.active {
  color: $color-main;
}
.dropText {
  margin-left: 10px;
}
.leaveReviewInput {
  font-family: Ubuntu;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  background-color: $color-categories-btn;
  color: $color-second;
  border: 1px solid $color-star-border;
  border-radius: 59px;
  outline: none;
}
.leaveReviewFieldLabel {
  margin-top: 40px;
  margin-bottom: 10px;
  color: $color-third;
}
.leaveReviewField {
  resize: none;
  width: 100%;
  min-height: 150px;
  padding: 20px;
  background-color: #fff;
  outline: none;
  margin-bottom: 40px;
  color: $color-second;
  border: 1px solid $color-star-border;
  border-radius: 5px;

  &::-webkit-scrollbar {
    width: 0;
  }
  &:hover {
    border: 1px solid $color-third;
  }
}
.submitButton {
  font-size: 14px;
  line-height: 1.43;
  width: 200px;
  height: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  border-radius: 5px;
  color: $color-categories-btn;
  background-color: $text-hover;
}
