.saveSettings {
  font-size: 14px;
  color: #4F4F4F;

  > span {
    cursor: pointer;
  }

  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .saveButton {
    width: auto;
    padding: 10px 27px;
    margin-left: 30px;
  }
}