@import 'styles/variables';

.quotes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 24px;
  margin-top: 40px;
}
.quoteBlock {
  position: relative;

  width: 588px;
  padding: 30px 13px 30px 20px;
  background: $color-categories-btn;
  border: 1px solid $color-bg-icon;
  border-radius: 5px;

  &Header {
    display: flex;

    &Info {
      margin-left: 10px;
    }
  }
  &Img {
    border-radius: 3px;
  }

  &Title {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $color-main;
  }

  &Text {
    font-size: 14px;
    line-height: 1.43;
    margin: 20px 0;
    color: $color-second;
  }

  &Stars {
    display: flex;

    &Raiting {
      font-size: 14px;
      line-height: 1.43;
      margin-left: 26px;
      color: $color-third;
    }
  }

  &Author {
    font-size: 14px;
    line-height: 1.43;
    margin: 3px 0;
    color: $color-second;
  }
}
.reviewIcon {
  display: block;
  margin-right: 10px;
}
.reviewLike {
  margin-right: 26px;
}
.dotsIcon {
  cursor: pointer;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 4.16667px;
  border: 1px solid $color-star-border;
  &:hover {
    border-color: $text-hover;
  }
}
.active {
  border-color: $text-hover;
}
.editMenu {
  position: absolute;
  right: 0;
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 237px;
  height: 120px;
  padding: 30px 20px;
  background-color: $color-categories-btn;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.12);
  border-radius: 10px;
  color: $color-second;

  &Option {
    cursor: pointer;
    display: flex;
    align-items: center;
    stroke: $text-hover;
    fill: $text-hover;

    // &:hover {
    //   stroke: $text-hover;
    //   fill: $text-hover;
    // }

    &Text {
      margin-left: 15px;
    }
  }
}
.reviewBottom {
  //   position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 20px;
  font-size: 14px;
  line-height: 1.43;
  color: $color-third;

  &Statistic {
    display: flex;
    max-height: 20px;
    stroke: $color-third;
  }
}
