@import 'styles/variables';

.categNav {
  text-align: start;
  min-width: 180px;
}
.categList {
  font-size: 14px;
  line-height: 1.43;
  color: $color-main;
  list-style: none;
  padding: 0;
  margin: 0;
}
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.13;
  margin: 0;
  margin-bottom: 20px;
  color: $color-main;
}
.categ {
  font-size: 14px;
  line-height: 1.43;
  cursor: pointer;
  transition: 0.15s;

  &:hover {
    color: $text-hover;
  }

  a {
    display: block;
  }
}
.categ:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .categNav {
    display: none;
  }
}
