@import 'variables';
@import 'mixin';

@include font('Fira Sans', sans-serif, FiraSans-Regular, 400, 'regular');
@include font('Fira Sans', sans-serif, FiraSans-Medium, 500, 'medium');

@include font('Merriweather', sans, Merriweather-Regular, 400, 'regular');
@include font('Merriweather', sans, Merriweather-Bold, 700, 'bold');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif, 'Merriweather', serif;
  background-color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
menu {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

ul[class],
ol[class] {
  list-style: none !important;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.nextArrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 111px;
  right: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  stroke-width: 2px;
  stroke: #0e263e;
  border: 1px solid #f1f1f1;
  background: rgba(255, 255, 255, 0.5);
}
.nextArrow:hover {
  border-color: #fff;
  background-color: #fff;
}
.nextArrow:hover .arrowNext {
  stroke: #ff781d;
}
.prevArrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 111px;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(180deg);
  stroke-width: 2px;

  stroke: #0e263e;
  border: 1px solid #f1f1f1;
  background: rgba(255, 255, 255, 0.5);
}
.prevArrow:hover {
  border-color: #fff;
  background-color: #fff;
}
.prevArrow:hover .arrowNext {
  stroke: #ff781d;
}
.arrowNext {
  width: 24px;
  height: 24px;
  stroke: #0e263e;
}
.btnAfter {
  position: absolute;
  top: 50%;
  right: 0;
}
.btnBefore {
  position: absolute;
  top: 50%;
  left: 0;
}
.showAll {
  margin-left: 5px;
}
.nonScroll {
  overflow: hidden;
}
.blur {
  filter: blur(10px);
}

.empty {
  display: block;
  width: 100%;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.dropdown {
  position: absolute;
  bottom: -20px;
  right: 0;
  padding: 30px 20px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 6px 15px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  min-width: 200px;
  transition: 0.15s;
  animation: dropDown 0.2s;

  &--up {
    bottom: initial;
    top: -20px;
    transform: translateY(-100%);
  }
}

@keyframes dropUp {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(-100%) scale(1);
  }
}

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
  .nextArrow {
    display: none;
  }
  .prevArrow {
    display: none;
  }
}

@media (max-width: 768px) {
  .booksWrapper {
    width: 100%;
  }
}

.main {
  min-height: calc(100vh - 165px - 117px);
}
