html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Merriweather', serif; */
  font-family: "Ubuntu", sans-serif, "Merriweather", serif;
  background-color: #fbfbfb;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
