$color-main: #0e263e;
$color-second: #4f4f4f;
$color-third: #909190;
$color-star-border: #d5d5d5;
$color-bg-icon: #f1f1f1;
$color-categories-btn: #fff;

$text-hover: #ff781d;
$accent-hover: #d55600;
$text-err: #e92a20;
