@import 'styles/variables.scss';

.showAll {
  margin-bottom: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &Title {
    font-family: Merriweather;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.25;
    color: $color-main;
  }
}

.showAllLink {
  font-family: Fira Sans, sans-serif;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin: 0;
  white-space: nowrap;
  color: $color-main;
  stroke: $color-main;

  &:hover {
    cursor: pointer;
    color: $text-hover;
    stroke: $text-hover;
  }
}
.test {
  margin-left: 5px;
}

// @media (max-width: 1200px) {
// }
@media (max-width: 768px) {
  .showAll {
    margin-bottom: 30px;
    align-items: flex-end;

    &Title {
      font-size: 20px;
      line-height: 25px;
    }
  }
  .showAllLink {
    font-size: 14px;
    line-height: 1.43;
  }
}
@media (max-width: 500px) {
  .showAll {
    &Title {
      max-width: 173px;
    }
  }
}
