@import 'styles/variables';

.book {
  position: relative;

  &:hover {
    .deleteBtn {
      opacity: 1;
    }
  }

  &.inReview {
    &.container,
    .wrapper {
      width: 129px;
      min-width: 129px;
    }
  }
}
.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #fff;
  transition: .15s;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}
.container {
  width: 180px;
}
.containerColumn {
  display: flex;
  margin-bottom: 40px;
}
.wrapper {
  position: relative;
  min-width: 180px;
  border-radius: 5px;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}
.bookRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.43;
  color: $color-third;
}
.stars {
  display: flex;
  span {
    max-width: 18px;
    max-height: 18px;
    min-width: 18px;
    min-height: 18px;
  }
  > div > div {
    display: flex;
    gap: 2px;
  }
  &Block {
    display: flex;
    span:not(:first-child) {
      margin-left: 2px;
    }
  }
}
.starOrder {
  margin: 0;
  order: 3;
}
.starOrderList {
  // position: absolute;
  bottom: 53px;
  margin-right: auto;
}
.raitingAmount {
  margin-left: 26px;
}
.bookName {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.13;
  // margin-right: 20px;
  margin-bottom: 10px;
  color: $color-main;
  &:hover {
    color: $text-hover;
  }
}
.bookNameSmaller {
  font-size: 14px;
  line-height: 1.143;
  // margin-bottom: 10px;
}
.bookNameMargin {
  margin-right: 30px;
}
.bookAuthor {
  font-size: 14px;
  line-height: 1.43;
  color: $color-second;
}
.bookCategorie {
  font-size: 12px;
  line-height: 1.167;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 2px 4px;
  border-radius: 3px;
  color: $color-categories-btn;
  background-color: $color-main;
}
.audioIcon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  bottom: 10px;
  height: 35px;
  width: 35px;
  background: $color-main;
  border-radius: 50%;
  stroke: $color-categories-btn;
}
.bookInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 24px;
}
.extraInfo {
  font-size: 14px;
  line-height: 1.43;
  margin-top: 10px;
  margin-bottom: 32px;
  color: $color-second;
}
.addInfo {
  margin-bottom: 10px;
}
.aboutBook {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 10px;
}
.lines {
  -webkit-line-clamp: 5;
}
// .bookYear {
//   margin-bottom: 10px;
// }
.bookGenre {
  margin-left: 20px;
}
.addIcon {
  position: absolute;
  top: 3px;
  right: 5px;
  stroke: $color-main;
  cursor: pointer;

  svg path {
    transition: .15s;
  }
}
.addIcon:hover {
  stroke: $text-hover;
}
.hide {
  display: none;
}
.dotsIcon {
  position: absolute !important;
  top: 2px;
  right: 2px;
}
.dotsIcon:hover {
  border-color: $text-hover;
}
.optionWindow {
  font-size: 14px;
  line-height: 1.43;
  color: $color-second;
  stroke: $color-third;
}
.optionRead {
  display: flex;
  margin-bottom: 20px;
  transition: .15s;
  white-space: nowrap;
}
.optionRead:hover {
  cursor: pointer;
  color: $text-hover;
  stroke: $text-hover;
}
.optionIcon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.optionDelete {
  display: flex;
  transition: .15s;
  white-space: nowrap;
}
.optionDelete:hover {
  cursor: pointer;
  color: $text-hover;
  stroke: $text-hover;
}
.reviewStatistic {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.43;
  color: $color-third;
}
.reviewIcon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  stroke: $color-third;
}
.distance {
  margin-left: 30px;
}
.reviewLike {
  margin-right: 26px;
}
.selectionDateViews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
  color: $color-third;

  > span {
    margin-right: 5px;
  }
}
.hide {
  display: none;
}

@media (max-width: 1200px) {
  .mainBlock {
    padding: 0 15px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .book {
    &.inReview {
      display: flex;
      width: max-content;

      .wrapper {
        margin-right: 10px;
      }

      & > div {
        &:last-of-type {
          flex: 1;
          display: flex;
          flex-direction: column;

          .bookRating {
            order: 3;
            margin: 10px 0 0;
          }
        }
      }
    }
  }
  .stars {
    > div > div {
      span:not(:first-child) {
        display: none !important;
      }
    }
  }

  .bookCategorie {
    font-size: 10px;
    line-height: 11px;
    top: 5px;
    left: 5px;
    height: auto;
    width: min-content;
  }
  .audioIcon {
    right: 5px;
    bottom: 5px;
    height: 24px;
    width: 24px;
    > svg {
      width: 16px;
      height: 16px;
    }
  }
  .distance {
    display: none;
  }
  .raitingAmount {
    display: none;
  }

  .deleteBtn {
    opacity: 1;
    width: 16px;
    height: 16px;
    top: 5px;
    right: 5px;
  }
}

@media (max-width: 1100px) {
  .swiperSlide {
    .container {
      width: 19vw;
    }

    .wrapper {
      min-width: 100%;
    }
  }
  .slideAudio {
    .container {
      width: 100%;
    }
  }
}

@media (max-width: 769px) {
  .container {
    width: 108px;
  }
  .container:last-of-type {
    //display: none;
  }
  .wrapper {
    min-width: 100%;
  }
  .wrapperList {
    min-width: 90px;
  }
  .bookInfo {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .book {
    &.inReview {
      .wrapper {
        width: 62px;
        min-width: 62px;
      }
    }
  }
}

@media (max-width: 480px) {
  .swiperSlide {
    .container {
      width: 100%;
    }
  }
}